/****** Object:  UserDefinedFunction [dbo].[fn_ObtenerIngredienteReemplazoJerarquia]    Script Date: 24/12/2025 14:29:45 ******/
IF EXISTS(SELECT type, object_id FROM sys.objects WHERE object_id = object_id('fn_ObtenerIngredienteReemplazoJerarquia') AND type = 'FN')
   DROP FUNCTION [dbo].[fn_ObtenerIngredienteReemplazoJerarquia]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ObtenerIngredienteReemplazoJerarquia]    Script Date: 24/12/2025 14:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ObtenerIngredienteReemplazoJerarquia] (
    @Ceco VARCHAR(10),
    @CodRegimen INT,
    @CodReceta INT,
    @CodIngredienteOrigen INT,
    @TipoPlato INT
)
RETURNS TABLE
AS
RETURN (
    WITH Cliente AS (
        SELECT cli_codigo
        FROM dbo.b_clientes
        WHERE cli_codigo = @Ceco
    )
    SELECT TOP 1
        r.IdIngredienteOrigen,
        r.IdIngredienteCambio,
        r.NivelAplicado,
        r.CantIngredienteCambio,
        bi.ing_pctapr AS PctAprovechamiento,
        bi.ing_pctcoc AS PctCoccion,
        bi.ing_pctnut AS PctNutriente
    FROM Cliente c

    OUTER APPLY (
        -- Nivel 1: tabla principal b_tablagramaje_ceco
        SELECT 
            tg.tgc_coding AS IdIngredienteOrigen,
            tg.tgc_codins AS IdIngredienteCambio,
            1 AS NivelAplicado,
            tg.tgc_cantgr AS CantIngredienteCambio
        FROM dbo.b_tablagramajececo tg
        WHERE tg.tgc_ceco = c.cli_codigo
          AND tg.tgc_codreg = @CodRegimen
          AND tg.tgc_codrec = @CodReceta
          AND tg.tgc_coding = @CodIngredienteOrigen
    ) AS r1

    OUTER APPLY (
        -- Nivel 2: ceco + regimen + ingrediente + tipo de plato
        SELECT 
            n1.IdIngredienteOrigen,
            n1.IdIngredienteCambio,
            2 AS NivelAplicado,
            n1.CantidadBruta AS CantIngredienteCambio
        FROM dbo.b_tablagramajececo_nivel n1
        WHERE n1.IdCeco = c.cli_codigo
          AND n1.IdIngredienteOrigen = @CodIngredienteOrigen
          AND n1.IdRegimen = @CodRegimen
          AND n1.IdTipoPlato = @TipoPlato
          AND r1.IdIngredienteCambio IS NULL
          AND n1.Activo = '1'
    ) AS r2

    OUTER APPLY (
        -- Nivel 3: ceco + regimen + ingrediente
        SELECT 
            n2.IdIngredienteOrigen,
            n2.IdIngredienteCambio,
            3 AS NivelAplicado,
            n2.CantidadBruta AS CantIngredienteCambio
        FROM dbo.b_tablagramajececo_nivel n2
        WHERE n2.IdCeco = c.cli_codigo
          AND n2.IdIngredienteOrigen = @CodIngredienteOrigen
          AND n2.IdRegimen = @CodRegimen
          AND n2.IdTipoPlato IS NULL
          AND r1.IdIngredienteCambio IS NULL
          AND r2.IdIngredienteCambio IS NULL
          AND n2.Activo = '1'
    ) AS r3

    OUTER APPLY (
        -- Nivel 4: ceco + ingrediente
        SELECT 
            n3.IdIngredienteOrigen,
            n3.IdIngredienteCambio,
            4 AS NivelAplicado,
            n3.CantidadBruta AS CantIngredienteCambio
        FROM dbo.b_tablagramajececo_nivel n3
        WHERE n3.IdCeco = c.cli_codigo
          AND n3.IdIngredienteOrigen = @CodIngredienteOrigen
          AND n3.IdRegimen IS NULL
          AND n3.IdTipoPlato IS NULL
          AND r1.IdIngredienteCambio IS NULL
          AND r2.IdIngredienteCambio IS NULL
          AND r3.IdIngredienteCambio IS NULL
          AND n3.Activo = '1'
    ) AS r4

    CROSS APPLY (
        SELECT 
            COALESCE(r1.IdIngredienteOrigen, r2.IdIngredienteOrigen, r3.IdIngredienteOrigen, r4.IdIngredienteOrigen) AS IdIngredienteOrigen,
            COALESCE(r1.IdIngredienteCambio, r2.IdIngredienteCambio, r3.IdIngredienteCambio, r4.IdIngredienteCambio) AS IdIngredienteCambio,
            COALESCE(r1.NivelAplicado, r2.NivelAplicado, r3.NivelAplicado, r4.NivelAplicado) AS NivelAplicado,
            COALESCE(r1.CantIngredienteCambio, r2.CantIngredienteCambio, r3.CantIngredienteCambio, r4.CantIngredienteCambio) AS CantIngredienteCambio
    ) AS r

    LEFT JOIN dbo.b_ingrediente bi ON r.IdIngredienteCambio = bi.ing_codigo
);

GO
