/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_V04]    Script Date: 24/12/2025 13:49:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_V04]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_V04]
GO
/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_V04]    Script Date: 24/12/2025 13:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*                                                      
==========================================================================                                                      
Sistema : Sgp Administrador                                                      
Modulo :  Informe - Consumo Ingrediente Minuta Bloque (C_ConIngMinBlo.frm)                                  
                                                      
SP o Function : sgpadm_Sel_ConsumoIngMinBloque_Ceco                    
Descripcion   :                                                       
Observaciones : Trae datos para informe consumo ingrediente minuta bloque                                  
                                                      
F. creacion:      20/12/2013                                                      
Creador:          Jorge Paz Núñez 

F. Modificación:	09/08/2021
Modificador:		Shamir Farran

test :                 
EXEC sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_v02 'CL17',20210801,20210802,0,0
EXEC sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_v02 'CL17',20210801,20210802,0,1
EXEC sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_v02 'CL18',20210818,20210818,0,0
EXEC sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_v03 'CL18',20210801,20210831,0,1
EXEC sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_v04 'CL14',20250201,20250228,0,1


==========================================================================                                                      
Modificaciones:                                                      
Fecha             Programador             Motivo y/o Modificacion                                                      
22/10/2014        Jorge Paz Núñez         cambio de tablas b_centrologisticoceco_sap      
                                          y b_convenios_sap x I_ORG_CECO y I_CONVENIO_SAP                                                     
18/01/2022        Jorge Paz Núñez         Esto incluye dos nuevo cambio a la
										  tabla excepción formato compras que son
										  fecha inicio y fin.   
										  Cambio nom de procedimiento sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_v02
										  x sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_V03                             
21/08/2025         JPAZN                  Incluir tabla gramaje x nivel
==========================================================================                                                      
*/                                                      
                                                      
CREATE PROC [dbo].[sgpadm_Sel_ConsumoIngMinBloque_OrgCompra_V04]  
  @ORG_COMPRA AS VARCHAR(4)  
 ,@FechaDes AS INT  
 ,@FechaHas AS INT  
 ,@CodIngrediente AS VARCHAR(20)  
 ,@FiltroNulos AS INT
AS


  SELECT b.red_codigo,
         b.red_canpro,
		 b.red_codpro,
		 a.rec_tippla,
		 h.min_codreg,
		 h.min_cecori
  INTO    #DetReceta  
  FROM    dbo.cas_b_MinutaBloque AS cbmb WITH ( NOLOCK )  
  INNER JOIN cas_b_minuta h WITH ( NOLOCK ) ON cbmb.ID_Bloque = h.ID_Bloque  
                                           AND h.min_fecmin >= CONVERT(INT, CONVERT(VARCHAR(8), cbmb.FechaDesde, 112))  
                                           AND h.min_fecmin <= CONVERT(INT, CONVERT(VARCHAR(8), cbmb.FechaHasta, 112))  
  INNER JOIN cas_b_minutadet g WITH ( NOLOCK ) ON h.min_cecori = g.mid_cecori  
                                              AND h.min_codigo = g.mid_codigo  
  INNER JOIN b_receta a WITH ( NOLOCK ) ON g.mid_codrec = a.rec_codigo  
  INNER JOIN b_recetadet b WITH ( NOLOCK ) ON a.rec_codigo = b.red_codigo  
  INNER JOIN b_clientes bc WITH ( NOLOCK ) ON bc.cli_codigo = cbmb.Ceco  
  INNER JOIN dbo.I_ORG_CECO AS ioc WITH ( NOLOCK ) ON ioc.ID_CECO = cbmb.Ceco  AND ioc.ID_CECO = h.min_cecori
  INNER JOIN b_ingrediente c WITH ( NOLOCK ) ON b.red_codpro = c.ing_codigo  
  WHERE   g.mid_tipmin = '1'  
          AND ioc.ID_ORGCOMPRA = @ORG_COMPRA  
          AND ISNULL(ioc.BORRADO, '') <> 'X'  
          AND bc.cli_activo = '1'  
          AND bc.cli_tipo = 0  
          AND g.mid_numrac > 0  
          AND h.min_fecmin >= @fechades  
          AND h.min_fecmin <= @fechahas  
  GROUP BY b.red_codigo,
          b.red_canpro,
		  b.red_codpro,
		  a.rec_tippla,
  		  h.min_codreg,
		  h.min_cecori

	-- Índice para acelerar JOIN y APPLY
    CREATE NONCLUSTERED INDEX IX_DetReceta_R ON #DetReceta (min_cecori, min_codreg, red_codigo, red_codpro) INCLUDE (rec_tippla);

	UPDATE  #DetReceta  
    SET     #DetReceta.red_codpro = ISNULL(reemplazo.IdIngredienteCambio, b.red_codpro) ,  
            #DetReceta.red_canpro = isnull(reemplazo.CantIngredienteCambio, b.red_canpro)
    FROM    #DetReceta b WITH ( NOLOCK )
			OUTER APPLY dbo.fn_ObtenerIngredienteReemplazoJerarquia(
				    b.min_cecori,
				    b.min_codreg,
				    b.red_codigo,
				    b.red_codpro,
				    b.rec_tippla
			) AS reemplazo
            INNER JOIN b_ingrediente c WITH ( NOLOCK ) ON ISNULL(reemplazo.IdIngredienteCambio, b.red_codpro) = c.ing_codigo  
  
  select min_cecori
  into #Sitios
  from #DetReceta
  group by min_cecori

  CREATE INDEX IX_Sitios_01 ON #Sitios  (min_cecori)                      

  SELECT  DISTINCT  
          h.min_cecori  
         ,ioc.ID_ORGCOMPRA  
         ,CONVERT(DATETIME, CONVERT(VARCHAR(8), h.min_fecmin)) AS min_fecmin  
         ,a.red_codpro  as ing_codigo
         ,c.ing_nombre  
         ,c.ing_unimed  
         ,SUM( a.red_canpro * g.mid_numrac ) AS Consumo--ing_canbru                
         ,CONVERT(VARCHAR(10), '') AS proveedor  
         ,CONVERT(VARCHAR(18), '') AS CodMaterial  
         ,CONVERT(VARCHAR(100), '') AS DesMaterial  
         ,CONVERT(FLOAT, 0) AS PrecioUnit  
         ,0 AS TipoFormato  
         ,CONVERT(DATETIME, '') AS Valido_Desde  
         ,CONVERT(DATETIME, '') AS Valido_Hasta  
         ,0 AS IdConvenio  
  INTO    #Tmp_Ing  
  FROM    dbo.cas_b_MinutaBloque AS cbmb WITH ( NOLOCK )  
  INNER JOIN cas_b_minuta h WITH ( NOLOCK ) ON cbmb.ID_Bloque = h.ID_Bloque  
                                               AND h.min_fecmin >= CONVERT(INT, CONVERT(VARCHAR(8), cbmb.FechaDesde, 112))  
                                               AND h.min_fecmin <= CONVERT(INT, CONVERT(VARCHAR(8), cbmb.FechaHasta, 112))  
  INNER JOIN cas_b_minutadet g WITH ( NOLOCK ) ON h.min_cecori = g.mid_cecori  
                                                  AND h.min_codigo = g.mid_codigo  
  INNER JOIN #DetReceta a WITH ( NOLOCK ) ON g.mid_codrec = a.red_codigo  
  INNER JOIN b_clientes bc WITH ( NOLOCK ) ON bc.cli_codigo = cbmb.Ceco  
  INNER JOIN dbo.I_ORG_CECO AS ioc WITH ( NOLOCK ) ON ioc.ID_CECO = cbmb.Ceco  AND ioc.ID_CECO = h.min_cecori
  INNER JOIN b_ingrediente c WITH ( NOLOCK ) ON a.red_codpro = c.ing_codigo  
  WHERE   g.mid_tipmin = '1'  
          AND ioc.ID_ORGCOMPRA = @ORG_COMPRA  
          AND ISNULL(ioc.BORRADO, '') <> 'X'  
          AND bc.cli_activo = '1'  
          AND bc.cli_tipo = 0  
          AND g.mid_numrac > 0  
          AND h.min_fecmin >= @fechades  
          AND h.min_fecmin <= @fechahas  
          AND ( a.red_codpro = @CodIngrediente  
                OR @CodIngrediente = '0'  
              )  
  GROUP BY h.min_cecori  
          ,ioc.ID_ORGCOMPRA  
          ,h.min_fecmin  
          ,a.red_codpro  
          ,c.ing_nombre  
          ,c.ing_unimed  
          ,a.red_canpro                                            

  CREATE INDEX IX_tmp_ing_01 ON #Tmp_Ing  (ing_codigo, min_fecmin, ID_ORGCOMPRA)                      
  
  SELECT  IDrow = IDENTITY( INT,1, 1  
         )                 
         ,ics.ID_ORGCOMPRA AS [Id_OrgCompra]  
         ,bpi.[Celo]  
         ,[Ceco]  
         ,bpi.[Ingrediente]  
         ,bpi.[Valido_Desde]  
         ,bpi.[Valido_Hasta]  
         ,bpi.[Ctd_Fmto]  
         ,bpi.[Importe]  
         ,bpi.[Perfil_Redondeo]  
         ,bpi.[Precio]  
         ,bpi.[Proveedor]  
         ,bpi.[Codigo_Material]  
         ,bfs.fcs_DenMaterial  
         ,bpi.[Cod_Sgp]  
         ,bfs.[fcs_tipoformatocompras]  
         ,CASE WHEN ISNULL(bpefc.ID, 0) > 0 and bpefc.fecha_inicio is null THEN 0  
               when ISNULL(bpefc.ID, 0) > 0 and bpefc.fecha_inicio is not null
				                            and convert(varchar(8),bpefc.Fecha_inicio,112) >= @fechades
				                            and convert(varchar(8),bpefc.Fecha_Termino,112) <= @fechahas then 0
			   when bpefc.fecha_inicio is not null and convert(varchar(8),bpefc.Fecha_inicio,112) < @fechades
				             	                   and convert(varchar(8),bpefc.Fecha_Termino,112) < @fechahas then 6
               WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras  
                    AND ics.CONDICIONES = '1' THEN 1  
               WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras  
                    AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 2  
               WHEN bfs.fcs_tipoformatocompras = 3  
                    AND ics.CONDICIONES = '1' THEN 3  
               WHEN bfs.fcs_tipoformatocompras = 3  
                    AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 4  
               ELSE 5  
          END AS orden  
  INTO    #Tmp_PrecioIng  
  FROM    dbo.b_precio_ingrediente AS bpi WITH ( NOLOCK )  
  INNER JOIN dbo.I_CONVENIO_SAP AS ics WITH ( NOLOCK ) ON bpi.Id_OrgCompra = ics.ID_ORGCOMPRA  
                                                          AND bpi.Codigo_Material = ics.ID_MATERIAL  
                                                          AND bpi.Proveedor = ics.ID_PROVEEDOR  
                                                          AND bpi.Valido_Desde = ics.FECHA_INICIO_VALIDEZ  
                                                          AND bpi.Valido_Hasta = ics.FECHA_FIN_VALIDEZ  
  INNER JOIN dbo.b_formatocompras_sap AS bfs WITH ( NOLOCK ) ON ics.ID_MATERIAL = bfs.fcs_CodMaterial  
  INNER JOIN dbo.b_clientes AS bc WITH ( NOLOCK ) ON bc.cli_codigo = bpi.Ceco  
  inner join #Sitios as www on www.min_cecori = bc.cli_codigo
  LEFT JOIN dbo.b_Pedido_ExcepcionFormatoCompra AS bpefc WITH ( NOLOCK ) ON bpi.Proveedor = bpefc.proveedor  
                                                            AND bpefc.cencos = bc.cli_codigo  
                                                            AND bpefc.ing_codigo = bpi.Ingrediente  
                                                            AND bpefc.fcs_CodMaterial = bpi.Codigo_Material  
  WHERE   bpi.Id_OrgCompra = @ORG_COMPRA  
          AND ISNULL(ics.BORRADO, '') <> 'X'  
          AND EXISTS ( SELECT 1  
                       FROM   #Tmp_Ing AS f  
                       WHERE  f.ing_codigo = bpi.Ingrediente  
                              AND bpi.Id_OrgCompra = f.Id_OrgCompra  
                              AND ( f.min_fecmin BETWEEN bpi.Valido_Desde AND bpi.Valido_Hasta  
                                    OR bpi.Valido_Hasta < f.min_fecmin  
                                  ) )  
  ORDER BY bpi.Ingrediente  
          ,orden  
          ,bpi.[Precio]                
                
  CREATE INDEX ix_Tmp_PrecioIng_01 ON #Tmp_PrecioIng (Ingrediente, [Id_OrgCompra], Valido_Desde, Valido_Hasta)                    
  CREATE INDEX ix_Tmp_PrecioIng_02 ON #Tmp_PrecioIng (IDrow, Cod_Sgp, [Id_OrgCompra])                    
           
  UPDATE  #Tmp_Ing  
  SET     IdConvenio = ISNULL(( SELECT TOP 1  
                                        IDrow  
                                FROM    #Tmp_PrecioIng AS bpi  
                                WHERE   bpi.Ingrediente = t.ing_codigo  
                                        AND bpi.Ceco = t.min_cecori  
                                        AND bpi.[Id_OrgCompra] = t.Id_OrgCompra  
                                        AND t.min_fecmin BETWEEN bpi.Valido_Desde AND bpi.Valido_Hasta  
                                ORDER BY bpi.orden  
                                       ,bpi.Precio  
                              ), 0)  
  FROM    #Tmp_Ing AS t  
  WHERE   ISNULL(t.PrecioUnit, 0) = 0                  
  
  UPDATE  #Tmp_Ing  
  SET     proveedor = bpi.Proveedor  
         ,CodMaterial = bpi.Codigo_Material  
         ,DesMaterial = bpi.fcs_DenMaterial  
         ,PrecioUnit = bpi.Precio  
         ,Valido_Desde = bpi.Valido_Desde  
         ,Valido_Hasta = bpi.valido_Hasta  
         ,TipoFormato = isnull(fcs_tipoformatocompras  ,0)
  FROM    #Tmp_Ing AS t  
  INNER JOIN #Tmp_PrecioIng AS bpi ON bpi.IDrow = t.IdConvenio  
  WHERE   ISNULL(t.PrecioUnit, 0) = 0                
  
  UPDATE  #Tmp_Ing  
  SET     IdConvenio = ISNULL(( SELECT TOP 1  
                                        IDrow  
                                FROM    #Tmp_PrecioIng AS bpi  
                                WHERE   bpi.Ingrediente = t.ing_codigo  
                                        AND bpi.Ceco = t.min_cecori  
                                        AND bpi.[Id_OrgCompra] = t.Id_OrgCompra  
                                        AND bpi.Valido_Hasta < t.min_fecmin  
                                ORDER BY bpi.Valido_Hasta DESC  
                                       ,bpi.orden ASC  
                                       ,bpi.Precio ASC  
                              ), 0)  
  FROM    #Tmp_Ing AS t  
  WHERE   ISNULL(t.PrecioUnit, 0) = 0    
  
  UPDATE  #Tmp_Ing  
  SET     proveedor = bpi.Proveedor  
         ,CodMaterial = bpi.Codigo_Material  
         ,DesMaterial = bpi.fcs_DenMaterial  
         ,PrecioUnit = bpi.Precio  
         ,Valido_Desde = bpi.Valido_Desde  
         ,Valido_Hasta = bpi.valido_Hasta  
         ,TipoFormato = isnull(fcs_tipoformatocompras , 0)  
  FROM    #Tmp_Ing AS t  
  INNER JOIN #Tmp_PrecioIng AS bpi ON bpi.IDrow = t.IdConvenio  
  WHERE   ISNULL(t.PrecioUnit, 0) = 0          
  


/*FIN: CALCULO DE PRECIO EN BASE A CONVENIO*/                              



IF @FiltroNulos = 0
BEGIN
                
  SELECT DISTINCT  
          ti.ing_codigo AS [Código Ingrediente]
        ,ti.ing_nombre AS [Descripción]
         ,au.unm_nomcor AS [Unidad]
         ,SUM(Consumo) AS [Consumo]
         ,ISNULL(ti.proveedor, '') AS [Proveedor]
         ,ISNULL(ti.CodMaterial, '') AS [Código Material SAP]  
         ,ISNULL(ti.DesMaterial, '') AS [Descripción]  
         ,ROUND(ISNULL(ti.PrecioUnit, 0), 2) AS [Ult. Precio Neg.]  
         ,CASE WHEN ISNULL(ti.tipoformato, 0) = 0 THEN ''  
               ELSE ISNULL(CONVERT(VARCHAR(10), ti.Valido_Hasta, 103), '')  
          END AS [Fecha Vig.]  
         ,CASE ti.TipoFormato  
            WHEN 1 THEN 'GR'  
            WHEN 2 THEN 'CH'  
            WHEN 3 THEN 'ST'  
            ELSE 'S/F'  
          END AS [Formato Compra]  
         --,CASE WHEN ISNULL(ti.tipoformato, 0) = 0 THEN ''  
         --      ELSE ISNULL(CONVERT(VARCHAR(10), ti.Valido_Hasta, 103), '')  
         -- END AS vigente  
         --,CASE WHEN ISNULL(ti.tipoformato, 0) = 0 THEN ''  
         --      ELSE ISNULL(ti.Valido_Desde, '')  
         -- END AS valido_desde  
         --,CASE WHEN ISNULL(ti.tipoformato, 0) = 0 THEN ''  
         --      ELSE ISNULL(ti.Valido_Hasta, '')  
         -- END AS valido_hasta  
         
--         ,SUM(ti.ing_canbru * ti.mid_numrac) AS Consumo                
         
  FROM    #tmp_ing AS ti  
  INNER JOIN dbo.a_unidadmed AS au WITH ( NOLOCK ) ON au.unm_codigo = ti.ing_unimed  
  WHERE   consumo > 0
  GROUP BY ti.ing_codigo  
         ,ti.ing_nombre  
         ,ti.proveedor  
         ,ti.CodMaterial  
         ,ti.DesMaterial  
         ,ti.PrecioUnit  
         ,ti.TipoFormato  
         ,ti.Valido_Hasta  
         ,ti.Valido_Desde  
         ,au.unm_nomcor  
  ORDER BY ti.ing_nombre  
         ,ti.ing_codigo  
         --,valido_hasta                             

END
ELSE
BEGIN
  SELECT DISTINCT  
          ti.ing_codigo AS [Código Ingrediente]
         ,ti.ing_nombre AS [Descripción]
         ,au.unm_nomcor AS [Unidad]
         ,SUM(Consumo) AS [Consumo]
         ,ISNULL(ti.proveedor, '') AS [Proveedor]
         ,ISNULL(ti.CodMaterial, '') AS [Código Material SAP]  
         ,ISNULL(ti.DesMaterial, '') AS [Descripción]  
         ,ROUND(ISNULL(ti.PrecioUnit, 0), 2) AS [Ult. Precio Neg.]  
         ,CASE WHEN ISNULL(ti.tipoformato, 0) = 0 THEN ''  
               ELSE ISNULL(CONVERT(VARCHAR(10), ti.Valido_Hasta, 103), '')  
          END AS [Fecha Vig.]  
         ,CASE ti.TipoFormato  
            WHEN 1 THEN 'GR'  
            WHEN 2 THEN 'CH'  
            WHEN 3 THEN 'ST'  
            ELSE 'S/F'  
          END AS [Formato Compra]  
         --,CASE WHEN ISNULL(ti.tipoformato, 0) = 0 THEN ''  
         --      ELSE ISNULL(CONVERT(VARCHAR(10), ti.Valido_Hasta, 103), '')  
         -- END AS vigente  
         --,CASE WHEN ISNULL(ti.tipoformato, 0) = 0 THEN ''  
         --      ELSE ISNULL(ti.Valido_Desde, '')  
         -- END AS valido_desde  
         --,CASE WHEN ISNULL(ti.tipoformato, 0) = 0 THEN ''  
         --      ELSE ISNULL(ti.Valido_Hasta, '')  
         -- END AS valido_hasta  
         
--   ,SUM(ti.ing_canbru * ti.mid_numrac) AS Consumo    
  FROM    #tmp_ing AS ti  
  INNER JOIN dbo.a_unidadmed AS au WITH ( NOLOCK ) ON au.unm_codigo = ti.ing_unimed  
  WHERE   consumo > 0
		  AND (ti.proveedor IS NULL OR ti.proveedor = '')
   OR NOT (CONVERT(INT, CONVERT(VARCHAR(8), ti.min_fecmin, 112)) >= CONVERT(INT, CONVERT(VARCHAR(8), ti.Valido_Desde, 112))  
       AND CONVERT(INT, CONVERT(VARCHAR(8), ti.min_fecmin, 112)) <= CONVERT(INT, CONVERT(VARCHAR(8), ti.Valido_Hasta, 112)))
  GROUP BY ti.ing_codigo  
         ,ti.ing_nombre  
         ,ti.proveedor  
         ,ti.CodMaterial  
         ,ti.DesMaterial  
         ,ti.PrecioUnit  
         ,ti.TipoFormato  
         ,ti.Valido_Hasta  
         ,ti.Valido_Desde  
         ,au.unm_nomcor  
  ORDER BY ti.ing_nombre  
         ,ti.ing_codigo  
         --,valido_hasta  

END 

  DROP TABLE #tmp_ing                                                   
  DROP TABLE #Tmp_PrecioIng 
  drop table #DetReceta
  drop table #Sitios


GO
