/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ListaIngRecetaCodigo]    Script Date: 24/12/2025 13:49:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sgpadm_Sel_ListaIngRecetaCodigo]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[sgpadm_Sel_ListaIngRecetaCodigo]
GO
/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ListaIngRecetaCodigo]    Script Date: 24/12/2025 13:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
==========================================================================
Sistema	:	Sgp Administrador
Modulo	:   Ayuda formulario B_TabEst

SP o Function	:	sgpadm_Sel_ListaIngRecetaCodigo
Descripcion		:	Lista Ingrediente que esten en la receta
Observaciones	:

F. creacion:      13/08/2025
Creador:          Jorge Paz

==========================================================================
Modificaciones:
Fecha             Programador             Motivo y/o Modificacion

==========================================================================
Test:
sgpadm_Sel_ListaIngRecetaCodigo ''

==========================================================================
*/  
   
CREATE proc [dbo].[sgpadm_Sel_ListaIngRecetaCodigo]  
(
 @Codigo varchar(20)
)        
AS       
  
SELECT e.ing_codigo
      , e.ing_nombre
      , e.ing_Indppr
FROM b_receta c WITH ( NOLOCK )
INNER JOIN b_recetadet AS d WITH ( NOLOCK ) ON d.red_codigo = c.rec_codigo
INNER JOIN b_ingrediente AS e WITH ( NOLOCK ) ON d.red_codpro = e.ing_codigo
WHERE   (e.ing_codigo like @Codigo or @codigo = '')
and     c.rec_activo = '1'
and    (c.rec_fecvig> convert(varchar(8),getdate(),112) or c.rec_fecvig > 0)
group by e.ing_codigo 
        ,e.ing_nombre
        ,e.ing_Indppr
ORDER BY e.ing_nombre



GO
