/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_DetalleMinutaBloque_V05]    Script Date: 24/12/2025 13:49:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sgpadm_Sel_DetalleMinutaBloque_V05]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[sgpadm_Sel_DetalleMinutaBloque_V05]
GO
/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_DetalleMinutaBloque_V05]    Script Date: 24/12/2025 13:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*                                  
==========================================================================                                  
Sistema : Sgp Administrador                                  
Modulo :   Minutas - Minuta Bloque (M_MinSR2.frm)                                  
                                  
SP o Function : sgpadm_Sel_DetalleMinutaBloque                                  
Descripcion  : Mostrar detalle de la minuta de acuerdo al costo seleccionado                                  
                                  
Observaciones :                                   
                                  
F. creacion:      15/10/2013                                  
Creador:          Jorge Paz                                  
                                  
==========================================================================                                  
Modificaciones:                                  
Fecha             Programador             Motivo y/o Modificacion                                  
06/03/2018        Jorge Paz Núñez         incluir nuevo campo desestructura
09/12/2021        Jorge Paz Núñez         modifica la nombre de estructura para   
                                          cualquier sitio.
18/01/2022        Jorge Paz Núñez         modificar nombre del sub procedimiento 
										  dbo.PA_sgpadm_CostoMinutaProducto x dbo.PA_sgpadm_CostoMinutaProducto_V02
										  incluye nuevo cambio a la excepción formato compras fecha inicio y fin
26/08/2024								  incluyo filtro de servicio en la estructura de servicio. 
NOTA: Si van modificar este procedimiento tener en consideración sgpadm_Sel_XmlExportarDetMinutaBloque                                  
26/08/2025         JPAZN                  incluir tabla gramaje x nivel
==========================================================================                                  
Test:                                  
sgpadm_Sel_DetalleMinutaBloque 47467,'10410', 1  
sgpadm_Sel_DetalleMinutaBloque 7546, '52240', 1      
sgpadm_Sel_DetalleMinutaBloque 7546, '52240', 1      
sgpadm_Sel_DetalleMinutaBloque_V03_JPA 288957,'22700',1    
sgpadm_Sel_DetalleMinutaBloque_V03 288957,'22700',1    
==========================================================================                                  
*/                                  
                                  
CREATE PROC [dbo].[sgpadm_Sel_DetalleMinutaBloque_V05]
(
    @Id_Bloque AS BIGINT,
    @Ceco AS VARCHAR(10),
    @OpPrecio AS INT
)
AS
BEGIN
    SET NOCOUNT ON;


    SELECT cbm.min_cecori,
           cbm.min_codreg,
           br.rec_codigo,
		   br.rec_nombre,
           br.rec_tippla,
           br2.red_codpro,
           br2.red_canpro,
		   br.rec_LYD,
		   br.cod_uniReceta
    INTO #DetReceta
    FROM dbo.cas_b_MinutaBloque AS bmb WITH (NOLOCK)
    INNER JOIN dbo.cas_b_minuta AS cbm WITH (NOLOCK)
        ON bmb.Ceco = cbm.min_cecori AND bmb.ID_Bloque = cbm.ID_Bloque
        AND cbm.min_fecmin >= CONVERT(INT, CONVERT(VARCHAR(8), bmb.FechaDesde, 112))
        AND cbm.min_fecmin <= CONVERT(INT, CONVERT(VARCHAR(8), bmb.FechaHasta, 112))
    INNER JOIN dbo.cas_b_minutadet AS cbm2 WITH (NOLOCK)
        ON bmb.Ceco = cbm2.mid_cecori AND cbm.min_codigo = cbm2.mid_codigo
    INNER JOIN dbo.b_receta AS br WITH (NOLOCK)
        ON  br.rec_codigo = cbm2.mid_codrec
    INNER JOIN dbo.b_recetadet AS br2 WITH (NOLOCK)
        ON br2.red_codigo = br.rec_codigo
    WHERE bmb.ID_Bloque = @Id_Bloque AND bmb.Ceco = @Ceco
	group by cbm.min_cecori,
             cbm.min_codreg,
             br.rec_codigo,
             br.rec_tippla,
             br2.red_codpro,
             br2.red_canpro,
		     br.rec_nombre,
		     br.rec_LYD,
		     br.cod_uniReceta

   -- Índice para acelerar JOIN y APPLY
    CREATE NONCLUSTERED INDEX IX_DetReceta_R ON #detReceta (rec_codigo, red_codpro) INCLUDE (rec_tippla);

    -- Tabla temporal con cálculo agregado por receta
    SELECT 
        a.rec_codigo,
		a.rec_nombre,
		b.ing_codigo,
		a.rec_LYD,
		a.cod_uniReceta,
        ISNULL(reemplazo.CantIngredienteCambio, a.red_canpro) AS CantidadGramaje
    INTO #Receta
    FROM #detReceta AS a
    OUTER APPLY dbo.fn_ObtenerIngredienteReemplazoJerarquia(
        a.min_cecori,
        a.min_codreg,
        a.rec_codigo,
        a.red_codpro,
        a.rec_tippla
    ) AS reemplazo
    INNER JOIN b_ingrediente AS b WITH (NOLOCK) 
        ON b.ing_codigo = ISNULL(reemplazo.IdIngredienteCambio, a.red_codpro)

    -- Índice para acelerar JOIN
    CREATE NONCLUSTERED INDEX IX_Receta_R ON #Receta (rec_codigo);

    -- Paso 1: Obtener ingredientes con reemplazo jerárquico
    SELECT 
        cbm.min_fecmin,
        cbm.min_codreg,
        cbm.min_indblo,
        cbm2.mid_numlin,
        ISNULL(cbm2.mid_numrac, 0) AS mid_numrac,
        ISNULL(cbm2.mid_porrac, 0) AS mid_porrac,
        ISNULL(cbm2.mid_modmina, '') AS mid_modmina,
        ISNULL(cbm2.mid_modminb, '') AS mid_modminb,
        ISNULL(cbm2.mid_tiprec, 0) AS mid_tiprec,
        ae.ess_codigo,
        CASE 
            WHEN ISNULL(cbm2.mid_desest, '') <> '' THEN cbm2.mid_desest
            ELSE ISNULL(ae.ess_nombre, '')
        END AS ess_nombre,
        ISNULL(ae.ess_agrupacionestructura, 0) AS ess_agrupacionestructura,
        ISNULL(mingrpest.mge_ponderaciontotal, -1) AS mge_ponderaciontotal,
        aa.rec_codigo,
        ISNULL(aa.rec_nombre, '') AS rec_nombre,
        aa.ing_codigo AS ing_codigo,
        aa.CantidadGramaje AS red_canbru,
        aa.cod_uniReceta,
        ISNULL(aa.rec_LYD, 0) AS rec_LYD
    INTO #PasoMinutaBloque
    FROM dbo.cas_b_MinutaBloque AS bmb WITH (NOLOCK)
    INNER JOIN dbo.cas_b_minuta AS cbm WITH (NOLOCK)
        ON bmb.Ceco = cbm.min_cecori AND bmb.ID_Bloque = cbm.ID_Bloque
        AND cbm.min_fecmin >= CONVERT(INT, CONVERT(VARCHAR(8), bmb.FechaDesde, 112))
        AND cbm.min_fecmin <= CONVERT(INT, CONVERT(VARCHAR(8), bmb.FechaHasta, 112))
    INNER JOIN dbo.cas_b_minutadet AS cbm2 WITH (NOLOCK)
        ON bmb.Ceco = cbm2.mid_cecori AND cbm.min_codigo = cbm2.mid_codigo
    INNER JOIN dbo.a_estservicio AS ae WITH (NOLOCK)
        ON ae.ess_codigo = cbm2.mid_estser AND ae.ess_codser = cbm.min_codser
    LEFT JOIN (
        SELECT DISTINCT mge_cencos, mge_grupoestructura, mge_id_bloque, mge_ponderaciontotal
        FROM dbo.cas_b_minutagrupoestructura WITH (NOLOCK)
    ) mingrpest ON mingrpest.mge_cencos = bmb.Ceco
        AND mingrpest.mge_id_bloque = bmb.ID_Bloque
        AND mingrpest.mge_grupoestructura = ae.ess_agrupacionestructura
    INNER JOIN dbo.b_clientes AS bc WITH (NOLOCK)
        ON bmb.Ceco = bc.cli_codigo
	inner join #Receta as aa on aa.rec_codigo = cbm2.mid_codrec
    WHERE bmb.ID_Bloque = @Id_Bloque AND bmb.Ceco = @Ceco;

    -- Paso 2: Obtener costos
    CREATE TABLE #sgpadm_Fun_CostoMinutaProducto (
        ing_codigo VARCHAR(20) COLLATE DATABASE_DEFAULT,
        pro_codigo VARCHAR(20) COLLATE DATABASE_DEFAULT,
        pro_nombre VARCHAR(100) COLLATE DATABASE_DEFAULT,
        pro_facing FLOAT,
        fi INT,
        ft INT,
        PMP FLOAT,
        Convenio FLOAT,
        Lista FLOAT
    );

    INSERT INTO #sgpadm_Fun_CostoMinutaProducto
    EXEC dbo.PA_sgpadm_CostoMinutaProducto_V03 @Id_Bloque, @Ceco, @OpPrecio;

    SELECT 
        ing_codigo,
        pro_codigo,
        pro_nombre,
        pro_facing,
        fi,
        ft,
        PMP,
        Convenio,
        Lista,
        (ISNULL(CASE 
            WHEN @OpPrecio = 1 THEN Convenio
            WHEN @OpPrecio = 2 THEN PMP
            ELSE Lista
        END, 0) / ISNULL(pro_facing, 0)) AS pmp1
    INTO #sgpadm_Fun_CostoMinutaProducto2
    FROM #sgpadm_Fun_CostoMinutaProducto
    WHERE ISNULL(CASE 
        WHEN @OpPrecio = 1 THEN Convenio
        WHEN @OpPrecio = 2 THEN PMP
        ELSE Lista
    END, 0) > 0;

    -- Paso 3: Resultado final
    SELECT 
        tg.min_fecmin,
        tg.min_indblo,
        tg.mid_numlin,
        tg.rec_codigo,
        tg.mid_numrac,
        tg.mid_porrac,
        tg.mid_modmina,
        tg.mid_modminb,
        tg.mid_tiprec,
        tg.ess_codigo,
        tg.ess_nombre,
        tg.ess_agrupacionestructura,
        tg.mge_ponderaciontotal,
        tg.rec_nombre,
        tg.ing_codigo AS codigoingrediente,
        tg.min_codreg,
        ISNULL(AVG(fun.PMP1) * MAX(tg.red_canbru), 0) AS promedioreceta,
        tg.cod_uniReceta,
        tg.rec_LYD
    INTO #tmp_final
    FROM #PasoMinutaBloque AS tg
    INNER JOIN dbo.b_ingrediente AS bi WITH (NOLOCK)
        ON tg.ing_codigo = bi.ing_codigo
    LEFT JOIN #sgpadm_Fun_CostoMinutaProducto2 AS fun
        ON fun.ing_codigo = tg.ing_codigo AND fun.fi = tg.min_fecmin
    GROUP BY 
        tg.min_fecmin,
        tg.min_indblo,
        tg.mid_numlin,
        tg.rec_codigo,
        tg.mid_numrac,
        tg.mid_porrac,
        tg.mid_modmina,
        tg.mid_modminb,
        tg.mid_tiprec,
        tg.ess_codigo,
        tg.ess_nombre,
        tg.ess_agrupacionestructura,
        tg.mge_ponderaciontotal,
        tg.rec_nombre,
        tg.ing_codigo,
        tg.min_codreg,
        tg.cod_uniReceta,
        tg.rec_LYD
    ORDER BY tg.mid_numlin, tg.min_fecmin, tg.mge_ponderaciontotal DESC;

    -- Paso 4: Presentación final
    SELECT 
        ISNULL(t.min_fecmin, 0) AS min_fecmin,
        ISNULL(t.min_indblo, 0) AS min_indblo,
        t.mid_numlin,
        t.rec_codigo,
        t.mid_numrac,
        t.mid_porrac,
        t.mid_modmina,
        t.mid_modminb,
        t.mid_tiprec,
        t.ess_codigo,
        LTRIM(RTRIM(t.ess_nombre)) AS ess_nombre,
        t.ess_agrupacionestructura,
        t.mge_ponderaciontotal,
        CASE 
            WHEN bur.DescripcionCorta IS NULL THEN LTRIM(RTRIM(ISNULL(t.rec_nombre, '')))
            ELSE LTRIM(RTRIM(ISNULL(t.rec_nombre, ''))) + ' [' + LTRIM(RTRIM(ISNULL(bur.DescripcionCorta, ''))) + ']'
        END AS rec_nombre,
        CONVERT(NUMERIC(18, 2), SUM(ISNULL(t.promedioreceta, 0))) AS promedioreceta,
        CASE WHEN t.rec_LYD IS NOT NULL THEN t.rec_LYD ELSE 0 END AS rec_LYD,
        ISNULL(dbo.fn_sgpadm_Pro_TraerAporteCalorias_V02(t.rec_codigo, @Ceco, t.min_codreg), 0) AS AporteNut
    FROM #tmp_final t
    LEFT JOIN dbo.b_UnidadReceta AS bur WITH (NOLOCK)
        ON t.cod_uniReceta = bur.Codigo_unidad
    GROUP BY 
        t.min_fecmin,
        t.min_indblo,
        t.mid_numlin,
        t.rec_codigo,
        t.mid_numrac,
        t.mid_porrac,
        t.mid_modmina,
        t.mid_modminb,
        t.mid_tiprec,
        t.ess_codigo,
        t.ess_nombre,
        t.ess_agrupacionestructura,
        t.mge_ponderaciontotal,
        t.rec_nombre,
        t.min_codreg,
        bur.DescripcionCorta,
        t.rec_LYD
    ORDER BY t.mid_numlin, t.min_fecmin, t.mge_ponderaciontotal DESC;

    -- Limpieza
    DROP TABLE #tmp_final;
    DROP TABLE #PasoMinutaBloque;
    DROP TABLE #sgpadm_Fun_CostoMinutaProducto;
    DROP TABLE #sgpadm_Fun_CostoMinutaProducto2;
	drop table #DetReceta
	drop table #Receta

END;

GO
