/****** Object:  StoredProcedure [dbo].[SGPtoAMD_Ins_CargaPrecioRecetaAMD_v01]    Script Date: 24/12/2025 13:49:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SGPtoAMD_Ins_CargaPrecioRecetaAMD_v01]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[SGPtoAMD_Ins_CargaPrecioRecetaAMD_v01]
GO
/****** Object:  StoredProcedure [dbo].[SGPtoAMD_Ins_CargaPrecioRecetaAMD_v01]    Script Date: 24/12/2025 13:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
==========================================================================                                  
Sistema : Sgp Carga precio receta para AMD
Modulo  : 
                                  
SP o Function : SGPtoAMD_Ins_CargaPrecioRecetaAMD_v01
Descripcion  :  Permite Cargar precio receta integración AMD
                                  
Observaciones :                                   
                                  
F. creacion:      10/03/2023
Creador:          Jorge Andrés Paz Núñez
                                  
==========================================================================                                  
Modificaciones:                                  
Fecha             Programador             Motivo y/o Modificacion                                  
04-07-2024		  Jorge Paz Nuñez         Aplica el concepto de regimen a los costo de receta para AMD            
31/03/2025        Jorge Paz Nuñez         sacar filtro de ceco, para que genere precio los ceco de propuesta,
                                          con la condición que el ceco es seleccionado la nueva opción integra ceco 
==========================================================================                        
Test:                                  
SGPtoAMD_Ins_CargaPrecioRecetaAMD_v01 '1'
==========================================================================                        
*/

CREATE PROC [dbo].[SGPtoAMD_Ins_CargaPrecioRecetaAMD_v01]
(
@OpReceta varchar(1)
)
AS   

SET NOCOUNT ON                          
SET XACT_ABORT ON    

--set @CecoS = rtrim(REPLACE(@CecoS,'"',''))

IF (SELECT id FROM tempdb.dbo.sysobjects WHERE ID = OBJECT_ID(N'tempdb..#TMP_CostoRecetasSGPtoAMD')) IS NOT NULL
BEGIN

	DROP TABLE #TMP_CostoRecetasSGPtoAMD

END

CREATE TABLE #TMP_CostoRecetasSGPtoAMD
(
    [Ceco]				VARCHAR(10) COLLATE DATABASE_DEFAULT,
	[Regimen]           int NOT NULL ,
    [CodReceta]			INT NOT NULL ,
    [Receta]			VARCHAR(200) COLLATE DATABASE_DEFAULT NOT NULL ,
    [Precio]			FLOAT NOT NULL,
    [CatDie]			VARCHAR(200) COLLATE DATABASE_DEFAULT NOT NULL,
    [TipPla]			VARCHAR(200) COLLATE DATABASE_DEFAULT NOT NULL,
    [Fecha]				DATETIME NOT NULL
)

/* Validar si existe tabla temporal se borra */
IF (SELECT id FROM tempdb.dbo.sysobjects WHERE ID = OBJECT_ID(N'tempdb..#TablaPaso')) IS NOT NULL
	DROP TABLE #TablaPaso

/* Ini : Crear tabla de paso ceco, regimen y servicio */

select id = IDENTITY( INT,1,1 )
      ,a.min_cecori
      ,a.min_codreg
into #TablaPaso
from cas_b_minuta as a with (nolock)
inner join cas_b_minutadet as b with (nolock) on a.min_cecori = b.mid_cecori
                                             and a.min_codigo = b.mid_codigo
inner join a_regimen as f with (nolock) on f.reg_codigo = a.min_codreg
                                       and f.reg_activo = '1'
inner join a_servicio as g with (nolock) on g.ser_codigo = a.min_codser
                                       and g.ser_activo = '1'
inner join b_clientes as c with (nolock) on c.cli_codigo = a.min_cecori
                                        and c.cli_tipo = 0
										and c.cli_activo = '1'
										and c.IdIntegraAMD = 1
										--and c.cli_Tipoceco = 0
										--and c.cli_TipoMinuta = 3
--										and c.cli_codigo not like '%ppt%'
inner join I_ORG_CECO as d with (nolock) on d.id_ceco = c.cli_codigo
                                        and d.borrado not in ('X')
--										and d.CARGADO_PEL = 'C'
where substring(convert(varchar(8),a.min_fecmin),1,6) between  convert(varchar(6),DATEADD(mm, -6, getdate()),112)
                                                      and convert(varchar(6),DATEADD(mm, +6, getdate()),112)
and not exists (select 1 from amd_integracion_ceco as z with (nolock) where z.id_ceco = c.cli_codigo and z.activo = '0')
--and   a.min_codser = 10003
--and   a.min_cecori In ((select convert(varchar(10),items) from dbo.FnSplitString_Tabla(@CecoS,',')))
--and c.cli_codigo in ('23250')
group by a.min_cecori
        ,a.min_codreg
order by a.min_cecori
        ,a.min_codreg

/* Fin : Crear tabla de paso ceco, regimen y servicio */

 
--/* Validar si existe tabla temporal se borra */
--IF (SELECT id FROM tempdb.dbo.sysobjects WHERE ID = OBJECT_ID(N'tempdb..#Tablanoborrado')) IS NOT NULL
--	DROP TABLE #Tablanoborrado

--select a.*
--INTO   #Tablanoborrado
--from #TablaPaso as a
--INNER JOIN ( SELECT MIN(b.id) id ,
--                        b.min_cecori
--             FROM   #TablaPaso as b
--             GROUP BY b.min_cecori) m ON a.id = m.id
--                               AND a.min_cecori = m.min_cecori;                          

--/* Dejar un solo regimen y borrar datos de tabl paso */
--DELETE  #TablaPaso
--FROM    #TablaPaso AS tc
--WHERE   not EXISTS ( SELECT 1
--                        FROM   #Tablanoborrado AS td
--                        WHERE  tc.min_cecori = td.min_cecori
--                        AND tc.nkey= td.nkey ); 

/* Validar si existe tabla temporal se borra */
IF (SELECT id FROM tempdb.dbo.sysobjects WHERE ID = OBJECT_ID(N'tempdb..#TablaPasoFinal')) IS NOT NULL
	DROP TABLE #TablaPasoFinal

select id = IDENTITY( INT,1,1 )
      ,a.min_cecori
      ,a.min_codreg
	  --,a.min_codser
into #TablaPasoFinal
from #TablaPaso as a

CREATE INDEX ix_#TablaPasoFinal_01 ON #TablaPasoFinal (id)

/* Ini : ciclo While primer etapa */

DECLARE @Counter INT
declare @MaxId INT
declare @Ceco varchar(10)
declare @Regimen int
declare @Servicio int 
declare @FechaHoy int

set @FechaHoy = convert(varchar(8),getdate(),112)

SELECT @Counter = min(Id)
      ,@MaxId = max(Id) 
FROM #TablaPasoFinal with (nolock)

WHILE(@Counter IS NOT NULL
      AND @Counter <= @MaxId)

	BEGIN

		SELECT @Ceco = min_cecori
		 	  ,@regimen = min_codreg
		      --,@servicio = min_codser
		FROM #TablaPasoFinal with (nolock) WHERE Id = @Counter

        INSERT INTO #TMP_CostoRecetasSGPtoAMD([Ceco],[Regimen],[CodReceta],[Receta],[Precio],[CatDie],[TipPla], [Fecha])
--		exec sgpadm_Sel_XMLResumenCostoReceta_AMD_V01 @Ceco, @regimen, @servicio, @FechaHoy, 1, '1', '2802', '2802', @OpReceta
		exec sgpadm_Sel_XMLResumenCostoReceta_AMD_V01 @Ceco, @regimen, 10001, @FechaHoy, 1, '1', '2802', '2802', @OpReceta

		print @ceco	+ ' ' + convert(varchar(10),@regimen)
		SET @Counter  = @Counter  + 1 

	end

/* Fin : ciclo While primer etapa */

/* Ini : Borrado de tabla CostoRecetasSGPtoAMD */

DECLARE @Num_error INT                    
DECLARE @cRows INT                    
DECLARE @error VARCHAR(2000)                    

SET @Num_error = 0                     
SET @cRows = 0                     
SET @error = ''                    
                    
BEGIN TRY                   
                
	BEGIN TRAN                        

		IF EXISTS(SELECT TOP 1 id_sitio
				  FROM amd_precio_receta as a WITH(NOLOCK) 
				  inner join #TMP_CostoRecetasSGPtoAMD as b WITH(NOLOCK) on b.[CodReceta] = a.id_receta
																		and b.[Ceco] = convert(varchar(10),a.id_sitio)
																		and b.[Regimen] = a.id_regimen
				  WHERE CONVERT(VARCHAR(8),fecha_creado,112) = @FechaHoy)

			BEGIN

				DELETE amd_precio_receta
				FROM amd_precio_receta as a WITH(NOLOCK)
				inner join #TMP_CostoRecetasSGPtoAMD as b WITH(NOLOCK) on b.[CodReceta] = a.id_receta
																	  and b.[Ceco] = convert(varchar(10),a.id_sitio)
 																	  and b.[Regimen] = a.id_regimen
				WHERE CONVERT(VARCHAR(8), fecha_creado, 112) = @FechaHoy

			END

		DELETE amd_precio_receta
		FROM amd_precio_receta WITH(NOLOCK)
		WHERE convert(varchar(8),fecha_creado,112) < convert(varchar(8),DATEADD(DD,-21,CONVERT(DATETIME,GETDATE())),112)

		/* Fin : Borrado de tabla CostoRecetasSGPtoAMD */

		/* Ini : Insertar datos tabla CostoRecetasSGPtoAMD */

		INSERT INTO amd_precio_receta(id_receta,id_sitio,Id_Regimen, precio,fecha_vigencia,fecha_creado,usuario)
		SELECT DISTINCT [CodReceta],[Ceco], [Regimen], ROUND([Precio],2) AS [Precio],convert(varchar(8),getdate(),112),convert(varchar(8),getdate(),112),'ADM'
		FROM #TMP_CostoRecetasSGPtoAMD
		ORDER BY ceco, codreceta

		/* Fin : Insertar datos tabla CostoRecetasSGPtoAMD */

        SET @cRows = @@ROWCOUNT  
     
    COMMIT TRAN  
    
END TRY  
     
BEGIN CATCH  
      SET @Num_error = ERROR_NUMBER()  
      SET @error = ERROR_MESSAGE()  
      ROLLBACK TRAN  
                    
      GOTO handle_error  

END CATCH  
                    
handle_error:  
  SELECT  @Num_error ,  
          @error ,  
          @cRows 



GO
