/****** Object:  UserDefinedFunction [dbo].[fn_sgpadm_Pro_TraerAporteCalorias_V02]    Script Date: 24/12/2025 14:29:45 ******/
IF EXISTS(SELECT type, object_id FROM sys.objects WHERE object_id = object_id('fn_sgpadm_Pro_TraerAporteCalorias_V02') AND type = 'FN')
   DROP FUNCTION [dbo].[fn_sgpadm_Pro_TraerAporteCalorias_V02]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_sgpadm_Pro_TraerAporteCalorias_V02]    Script Date: 24/12/2025 14:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*              
==========================================================================              
Sistema : Sgp Administrador              
Modulo :   None              
              
SP o Function : fn_sgpadm_Pro_TraerAporteCalorias        
Descripcion  : Función encargada de traer los aportes calorias        
                                  
Observaciones :               
              
F. creacion:      22/01/2014  
Creador:          Jorge Andres Paz Núñez              
              
==========================================================================              
Modificaciones:    
26/08/2025        Jorge PAZ N      incluir tabla de gramaje x Nivel           
==========================================================================              
Test:              
select dbo.fn_sgpadm_Pro_TraerAporteCalorias(15818, '45292', 11117)              
==========================================================================              
*/              
                
CREATE FUNCTION [dbo].[fn_sgpadm_Pro_TraerAporteCalorias_V02]
    (
      @CodReceta INT ,
      @Ceco VARCHAR(10) ,
      @CodRegimen INT         
    )
RETURNS FLOAT
AS 
    BEGIN                
                  
        DECLARE @TotAporte FLOAT         
        SET @TotAporte = 0            
        
        BEGIN                
          
            SELECT  @TotAporte = SUM(( ( ( CASE WHEN reemplazo.IdIngredienteCambio is null THEN br2.red_pctnut
                                                ELSE bi.ing_pctnut
                                           END / 100 ) * ( bp.pnu_canapo
                                                           * ( ( CASE WHEN reemplazo.CantIngredienteCambio IS null
                                                                      THEN br2.red_canpro
                                                                      ELSE reemplazo.CantIngredienteCambio
                                                                 END ) / br.rec_basrac ) ) ) / bi.ing_facnut ))
            FROM    dbo.b_receta AS br WITH ( NOLOCK )
                    INNER JOIN dbo.b_recetadet AS br2 WITH ( NOLOCK ) ON br.rec_codigo = br2.red_codigo
						OUTER APPLY dbo.fn_ObtenerIngredienteReemplazoJerarquia(
				    @Ceco,
				    @codregimen,
				    br.rec_codigo,
				    br2.red_codpro,
				    br.rec_tippla
				) AS reemplazo
                    --LEFT JOIN ( SELECT  bt.tgc_ceco ,
                    --                    bt.tgc_codreg ,
                    --                    bt.tgc_codrec ,
                    --                    bt.tgc_coding ,
                    --                    bt.tgc_codins ,
                    --                    bt.tgc_cantgr
                    --            FROM    dbo.b_tablagramajececo AS bt WITH ( NOLOCK )
                    --          ) tagra ON tagra.tgc_ceco = @Ceco
                    --                     AND tagra.tgc_codreg = @CodRegimen
                    --                     AND tagra.tgc_codrec = br.rec_codigo
                    --                     AND tagra.tgc_coding = br2.red_codpro
                    --INNER JOIN dbo.b_ingrediente AS bi WITH ( NOLOCK ) ON 
                    INNER JOIN b_ingrediente bi WITH ( NOLOCK ) ON ISNULL(reemplazo.IdIngredienteCambio, br2.red_codpro) = bi.ing_codigo
                    INNER JOIN dbo.b_productonut AS bp WITH ( NOLOCK ) ON bp.pnu_codpro = bi.ing_codigo
                    INNER JOIN dbo.a_nutriente AS an WITH ( NOLOCK ) ON bp.pnu_codapo = an.nut_codigo
            WHERE   br.rec_codigo = @Codreceta
                    AND bi.ing_facnut > 0
                    AND an.nut_codigo = 2        
                   
        END                 
            
        RETURN (@TotAporte)                
                
    END 


GO
