/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ComposicionMinuta_V04]    Script Date: 24/12/2025 13:49:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sgpadm_Sel_ComposicionMinuta_V04]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[sgpadm_Sel_ComposicionMinuta_V04]
GO
/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ComposicionMinuta_V04]    Script Date: 24/12/2025 13:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*                                                  
==========================================================================                                                  
Sistema : Sgp Administrador                                                  
Modulo :  Informes - Composición Minutas Sansis (I_ComposicionMinutasSansis.frm)            
                                                  
SP o Function : sgpadm_Sel_ComposicionMinuta_V02        
Descripcion   :                                                   
Observaciones : Trae datos detalle minuta bloque con sus recetas            
                                                  
F. creacion:      01/02/2017            
Creador:          Jorge Paz Núñez            
        
==========================================================================                                                  
            
test :    sgpadm_Sel_ComposicionMinuta_V02_JPA '13790', 0, 20201101, 20201130     
            
==========================================================================                                                  
Modificaciones:                                                  
Fecha             Programador             Motivo y/o Modificacion                                                  
24/11/2017        Jorge Andres Paz Núñez  poder sacar información x más de un regimen            
18/01/2022        Jorge Paz Núñez         Esto incluye dos nuevo cambio a la
										  tabla excepción formato compras que son
										  fecha inicio y fin.   
										  Cambio nom de procedimiento sgpadm_Sel_ComposicionMinuta_V02
										  x sgpadm_Sel_ComposicionMinuta_V03                             
22/08/2025        JPAZN                   Incluir tabla gramaje x nivel
==========================================================================                                                  

sgpadm_Sel_ComposicionMinuta_V03 'PPT1359', 10900, 20241005, 20241015 
sgpadm_Sel_ComposicionMinuta_V04 'PPT1359', 10900, 20241005, 20241015 

*/                                                  
                                                  
CREATE PROC [dbo].[sgpadm_Sel_ComposicionMinuta_V04]  
    @Ceco CHAR(20) ,  
    @Regimen INT ,  
    @FechaDes INT ,  
    @FechaHas INT  
AS   
    DECLARE @Fecha AS INT                                      
                                      
    SET @Fecha = @FechaDes            
                                      
    SELECT  CONVERT(DATETIME, CONVERT(VARCHAR(8), h.min_fecmin)) AS min_fecmin ,  
            g.mid_numlin ,  
            h.min_codreg ,  
            h.min_codser ,  
            g.mid_codrec AS CodRec ,  
            b.red_codpro AS ing_codigo ,  
            c.ing_nombre ,  
            CONVERT(VARCHAR(10), '') AS proveedor ,  
            CONVERT(VARCHAR(18), '') AS CodMaterial ,  
            CONVERT(VARCHAR(100), '') AS DesMaterial ,  
            CONVERT(FLOAT, 0) AS PrecioUnit ,  
            0 AS TipoFormato ,  
            CONVERT(DATETIME, '') AS Valido_Desde ,  
            CONVERT(DATETIME, '') AS Valido_Hasta ,  
            0 AS IdConvenio ,  
            b.red_canpro AS canpro ,  
            g.mid_numrac,
			a.rec_tippla  
    INTO    #Tmp_Ing  
    FROM    dbo.cas_b_MinutaBloque AS cbmb  
            INNER JOIN cas_b_minuta h WITH ( NOLOCK ) ON cbmb.ID_Bloque = h.ID_Bloque  
                                                         AND h.min_fecmin >= CONVERT(INT, CONVERT(VARCHAR(8), cbmb.FechaDesde, 112))  
                                                         AND h.min_fecmin <= CONVERT(INT, CONVERT(VARCHAR(8), cbmb.FechaHasta, 112))  
                                                         AND h.min_cecori = cbmb.Ceco  
            INNER JOIN cas_b_minutadet g WITH ( NOLOCK ) ON h.min_cecori = g.mid_cecori  
                                                            AND h.min_codigo = g.mid_codigo  
            INNER JOIN b_receta a WITH ( NOLOCK ) ON g.mid_codrec = a.rec_codigo  
            INNER JOIN b_recetadet b WITH ( NOLOCK ) ON a.rec_codigo = b.red_codigo 
            INNER JOIN b_clientes bc WITH ( NOLOCK ) ON bc.cli_codigo = cbmb.Ceco  
            INNER JOIN b_ingrediente c WITH ( NOLOCK ) ON b.red_codpro = c.ing_codigo  
    WHERE   g.mid_tipmin = '1'  
            AND h.min_cecori = @Ceco  
            AND ( h.min_codreg = @Regimen  
                  OR @Regimen = 0  
                )  
            AND h.min_fecmin >= @FechaDes 
          AND h.min_fecmin <= @FechaHas            
                  
    CREATE INDEX IX_tmp_ing_01 ON #Tmp_Ing  (ing_codigo, min_fecmin, IdConvenio, codrec)                    
  
    UPDATE  #Tmp_Ing  
    SET     canpro = isnull(reemplazo.CantIngredienteCambio, ti.canpro)  ,  
            ing_codigo = ISNULL(reemplazo.IdIngredienteCambio, ti.ing_codigo) 
    FROM    #Tmp_Ing AS ti  
			OUTER APPLY dbo.fn_ObtenerIngredienteReemplazoJerarquia(
				    @Ceco,
				    @Regimen,
				    ti.CodRec,
				    ti.ing_codigo,
				    ti.rec_tippla
			) AS reemplazo

	declare @tipoCeco as varchar(1)

	/* Rescatar tipo ceco */
	set @tipoCeco = (select isnull(a.cli_tipoceco,'0') from b_clientes as a with (nolock) where a.cli_codigo = @Ceco and a.cli_tipo = 0 and a.cli_activo = '1')

	print @tipoceco

	/*INI: CALCULO DE PRECIO EN BASE A CONVENIO - tipo ceco = 0 corresponde sitio real */             
    IF @tipoCeco = '0'
      
	  BEGIN     

		SELECT  IDrow = IDENTITY( INT,1, 1 ),  
				bpi.[Id_OrgCompra] ,  
				bpi.[Celo] ,  
				[Ceco] ,  
				bpi.[Ingrediente] ,  
				bpi.[Valido_Desde] ,  
				bpi.[Valido_Hasta] ,  
				bpi.[Ctd_Fmto] ,  
				bpi.[Importe] ,  
				bpi.[Perfil_Redondeo] ,  
				bpi.[Precio] ,  
				bpi.[Proveedor] ,  
				bpi.[Codigo_Material] ,  
				bfs.fcs_DenMaterial ,  
				bpi.[Cod_Sgp] ,  
				bfs.[fcs_tipoformatocompras] ,  
				CASE WHEN ISNULL(bpefc.ID, 0) > 0 and bpefc.fecha_inicio is null THEN 0  
						when ISNULL(bpefc.ID, 0) > 0 and bpefc.fecha_inicio is not null
														and convert(varchar(8),bpefc.Fecha_inicio,112) >= @FechaDes
								and convert(varchar(8),bpefc.Fecha_Termino,112) <= @FechaHas then 0
						when bpefc.fecha_inicio is not null and convert(varchar(8),bpefc.Fecha_inicio,112) < @FechaDes
								and convert(varchar(8),bpefc.Fecha_Termino,112) < @FechaHas then 6
						when bpefc.fecha_inicio is not null and convert(varchar(8),bpefc.Fecha_inicio,112) > @FechaDes
								and convert(varchar(8),bpefc.Fecha_Termino,112) > @FechaHas then 6
						WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras  
							AND ics.CONDICIONES = '1' THEN 1  
						WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras  
							AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 2  
						WHEN bfs.fcs_tipoformatocompras = 3  
							AND ics.CONDICIONES = '1' THEN 3  
						WHEN bfs.fcs_tipoformatocompras = 3  
							AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 4  
						ELSE 5  
				END AS orden  
			INTO    #Tmp_PrecioIng  
			FROM    dbo.b_precio_ingrediente AS bpi  
					INNER JOIN dbo.I_CONVENIO_SAP AS ics WITH ( NOLOCK ) ON bpi.Id_OrgCompra = ics.ID_ORGCOMPRA  
																		AND bpi.Codigo_Material = ics.ID_MATERIAL  
																		AND bpi.Proveedor = ics.ID_PROVEEDOR  
																		AND bpi.Valido_Desde = ics.FECHA_INICIO_VALIDEZ  
																		AND bpi.Valido_Hasta = ics.FECHA_FIN_VALIDEZ  
					INNER JOIN dbo.b_formatocompras_sap AS bfs ON ics.ID_MATERIAL = bfs.fcs_CodMaterial  
					INNER JOIN dbo.b_clientes AS bc ON bc.cli_codigo = bpi.Ceco  
					LEFT JOIN dbo.b_Pedido_ExcepcionFormatoCompra AS bpefc ON bpi.Proveedor = bpefc.proveedor  
																			AND bpefc.cencos = bc.cli_codigo  
																			AND bpefc.ing_codigo = bpi.Ingrediente  
																			AND bpefc.fcs_CodMaterial = bpi.Codigo_Material  
			WHERE   bpi.ceco = @Ceco  
				AND EXISTS ( SELECT 1  
								FROM   #Tmp_Ing AS f  
								WHERE  f.ing_codigo = bpi.Ingrediente  
									AND ( f.min_fecmin BETWEEN bpi.Valido_Desde AND bpi.Valido_Hasta  
											OR bpi.Valido_Hasta < f.min_fecmin  
										) )  
				AND ISNULL(ics.BORRADO, '') <> 'X'  
			ORDER BY bpi.Ingrediente ,  
					orden ,  
					bpi.[Precio]                      
                      
			CREATE INDEX ix_Tmp_PrecioIng_01 ON #Tmp_PrecioIng (Ingrediente, Valido_Desde, Valido_Hasta)                          
			CREATE INDEX ix_Tmp_PrecioIng_02 ON #Tmp_PrecioIng (IDrow, Cod_Sgp)                          
                      
			UPDATE  #Tmp_Ing  
			SET     IdConvenio = ISNULL(( SELECT TOP 1  
												IDrow  
										FROM      #Tmp_PrecioIng AS bpi  
										WHERE     bpi.Ingrediente = t.ing_codigo  
												AND t.min_fecmin BETWEEN bpi.Valido_Desde AND bpi.Valido_Hasta  
										ORDER BY  bpi.orden ,  
												bpi.Precio  
									), 0)  
			FROM    #Tmp_Ing AS t  
			WHERE   ISNULL(t.PrecioUnit, 0) = 0                        
                      
			UPDATE  #Tmp_Ing  
			SET     proveedor = bpi.Proveedor ,  
					CodMaterial = bpi.Codigo_Material ,  
					DesMaterial = bpi.fcs_DenMaterial ,  
					PrecioUnit = bpi.Precio ,  
					Valido_Desde = bpi.Valido_Desde ,  
					Valido_Hasta = bpi.valido_Hasta ,  
					TipoFormato = isnull(fcs_tipoformatocompras,0)  
			FROM    #Tmp_Ing AS t  
				INNER JOIN #Tmp_PrecioIng AS bpi ON bpi.IDrow = t.IdConvenio  
				WHERE   ISNULL(t.PrecioUnit, 0) = 0                        
                      
			UPDATE  #Tmp_Ing  
			SET     proveedor = tpi.Proveedor ,  
					CodMaterial = tpi.Codigo_Material ,  
					DesMaterial = tpi.fcs_DenMaterial ,  
					PrecioUnit = tpi.Precio ,  
					Valido_Desde = tpi.Valido_Desde ,  
					Valido_Hasta = tpi.valido_Hasta ,  
					TipoFormato = ISNULL(fcs_tipoformatocompras, 0)  
			FROM    #Tmp_Ing AS t  
				INNER JOIN #Tmp_PrecioIng AS tpi ON tpi.Ingrediente = t.ing_codigo  
													AND tpi.Valido_Hasta < t.min_fecmin  
													AND tpi.Ingrediente = ( SELECT TOP 1  
																					bpi.Ingrediente  
																			FROM    #Tmp_PrecioIng AS bpi  
																			WHERE   bpi.Ingrediente = tpi.Ingrediente  
																					AND bpi.Valido_Hasta < t.min_fecmin  
																			ORDER BY bpi.orden ,  
																					bpi.Precio  
																			)  
			WHERE   ISNULL(t.PrecioUnit, 0) = 0                        
      
			drop table #Tmp_PrecioIng

	  end

	/*FIN: CALCULO DE PRECIO EN BASE A CONVENIO  - tipo ceco = 0 corresponde sitio real */

	/*INI: CALCULO DE PRECIO EN BASE A CONVENIO - tipo ceco = 0 corresponde sitio propuesta */
    IF @tipoCeco = '1'
      
	  BEGIN
      

		SELECT  IDrow = IDENTITY( INT,1, 1 ),  
				bpi.[Id_OrgCompra] ,  
				bpi.[Celo] ,  
				[Ceco] ,  
				bpi.[Ingrediente] ,  
				bpi.[Valido_Desde] ,  
				bpi.[Valido_Hasta] ,  
				bpi.[Ctd_Fmto] ,  
				bpi.[Importe] ,  
				bpi.[Perfil_Redondeo] ,  
				bpi.[Precio] ,  
				bpi.[Proveedor] ,  
				bpi.[Codigo_Material] ,  
				bfs.fcs_DenMaterial ,  
				bpi.[Cod_Sgp] ,  
				bfs.[fcs_tipoformatocompras] ,  
				CASE WHEN ISNULL(bpefc.ID, 0) > 0 and bpefc.fecha_inicio is null THEN 0  
						when ISNULL(bpefc.ID, 0) > 0 and bpefc.fecha_inicio is not null
														and convert(varchar(8),bpefc.Fecha_inicio,112) >= @FechaDes
								and convert(varchar(8),bpefc.Fecha_Termino,112) <= @FechaHas then 0
						when bpefc.fecha_inicio is not null and convert(varchar(8),bpefc.Fecha_inicio,112) < @FechaDes
								and convert(varchar(8),bpefc.Fecha_Termino,112) < @FechaHas then 6
						when bpefc.fecha_inicio is not null and convert(varchar(8),bpefc.Fecha_inicio,112) > @FechaDes
								and convert(varchar(8),bpefc.Fecha_Termino,112) > @FechaHas then 6
						WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras  
							AND ics.CONDICIONES = '1' THEN 1  
						WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras  
							AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 2  
						WHEN bfs.fcs_tipoformatocompras = 3  
							AND ics.CONDICIONES = '1' THEN 3  
						WHEN bfs.fcs_tipoformatocompras = 3  
							AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 4  
						ELSE 5  
				END AS orden  
		INTO    #Tmp_PrecioIng_Propuesta
		FROM    dbo.b_precio_ingrediente AS bpi  
				INNER JOIN dbo.I_CONVENIO_SAP AS ics WITH ( NOLOCK ) ON bpi.Id_OrgCompra = ics.ID_ORGCOMPRA  
																		AND bpi.Codigo_Material = ics.ID_MATERIAL  
																		AND bpi.Proveedor = ics.ID_PROVEEDOR  
																		AND bpi.Valido_Desde = ics.FECHA_INICIO_VALIDEZ  
																		AND bpi.Valido_Hasta = ics.FECHA_FIN_VALIDEZ  
				INNER JOIN dbo.b_formatocompras_sap AS bfs ON ics.ID_MATERIAL = bfs.fcs_CodMaterial  
				INNER JOIN dbo.b_clientes AS bc ON bc.cli_codigo = bpi.Ceco  
				LEFT JOIN dbo.b_Pedido_ExcepcionFormatoCompra AS bpefc ON bpi.Proveedor = bpefc.proveedor  
																			AND bpefc.cencos = bc.cli_codigo  
							AND bpefc.ing_codigo = bpi.Ingrediente  
																			AND bpefc.fcs_CodMaterial = bpi.Codigo_Material  
		WHERE   bpi.ceco = @Ceco  
				AND EXISTS ( SELECT 1  
								FROM   #Tmp_Ing AS f  
								WHERE  f.ing_codigo = bpi.Ingrediente  
									AND ( f.min_fecmin BETWEEN bpi.Valido_Desde AND bpi.Valido_Hasta  
											OR bpi.Valido_Hasta < f.min_fecmin  
										) )  
				AND ISNULL(ics.BORRADO, '') <> 'X'  
                      
		CREATE INDEX ix_Tmp_PrecioIng_Propuesta_01 ON #Tmp_PrecioIng_Propuesta (Ingrediente, Valido_Desde, Valido_Hasta)                          
		CREATE INDEX ix_Tmp_PrecioIng_Propuesta_02 ON #Tmp_PrecioIng_Propuesta (IDrow, Cod_Sgp)                          
                      
		UPDATE  #Tmp_Ing  
		SET     IdConvenio = ISNULL(( SELECT TOP 1  
												IDrow  
										FROM      #Tmp_PrecioIng_Propuesta AS bpi  
										WHERE     bpi.Ingrediente = t.ing_codigo  
												AND t.min_fecmin BETWEEN bpi.Valido_Desde AND bpi.Valido_Hasta  
										ORDER BY bpi.Precio desc  
												
									), 0)  
		FROM    #Tmp_Ing AS t  
		WHERE   ISNULL(t.PrecioUnit, 0) = 0                        
                      
		UPDATE  #Tmp_Ing  
		SET     proveedor = bpi.Proveedor ,  
				CodMaterial = bpi.Codigo_Material ,  
				DesMaterial = bpi.fcs_DenMaterial ,  
				PrecioUnit = bpi.Precio ,  
				Valido_Desde = bpi.Valido_Desde ,  
				Valido_Hasta = bpi.valido_Hasta ,  
				TipoFormato = isnull(fcs_tipoformatocompras,0)  
		FROM    #Tmp_Ing AS t  
				INNER JOIN #Tmp_PrecioIng_Propuesta AS bpi ON bpi.IDrow = t.IdConvenio  
		WHERE   ISNULL(t.PrecioUnit, 0) = 0                        
                      
		UPDATE  #Tmp_Ing  
		SET     proveedor = tpi.Proveedor ,  
				CodMaterial = tpi.Codigo_Material ,  
				DesMaterial = tpi.fcs_DenMaterial ,  
				PrecioUnit = tpi.Precio ,  
				Valido_Desde = tpi.Valido_Desde ,  
				Valido_Hasta = tpi.valido_Hasta ,  
				TipoFormato = ISNULL(fcs_tipoformatocompras, 0)  
		FROM    #Tmp_Ing AS t  
				INNER JOIN #Tmp_PrecioIng_Propuesta AS tpi ON tpi.Ingrediente = t.ing_codigo  
													AND tpi.Valido_Hasta < t.min_fecmin  
													AND tpi.Ingrediente = ( SELECT TOP 1  
																					bpi.Ingrediente  
																			FROM    #Tmp_PrecioIng_Propuesta AS bpi  
																			WHERE   bpi.Ingrediente = tpi.Ingrediente  
																					AND bpi.Valido_Hasta < t.min_fecmin  
																			ORDER BY bpi.Valido_Hasta DESC,bpi.Precio desc  																				  
																			)  
		WHERE   ISNULL(t.PrecioUnit, 0) = 0                        
      
		drop table #Tmp_PrecioIng_Propuesta

	  end

	/*FIN: CALCULO DE PRECIO EN BASE A CONVENIO  - tipo ceco = 0 corresponde sitio propuesta */

    SELECT  ISNULL(CONVERT(VARCHAR(10), ti.min_fecmin, 103), '') AS [Fecha] ,  
            ar.reg_codigo AS [Regimen] ,  
            ar.reg_nombre AS [Desc. Regimen] ,  
            as2.ser_nombre + ' (' + CONVERT(VARCHAR(5), as2.ser_codigo) + ' )' AS [Servicio] ,  
            br.rec_nombre + ' (' + CONVERT(VARCHAR(5), br.rec_codigo) + ' )' AS [Receta] ,  
   ISNULL(ti.CodMaterial, '') AS [Homologación SAP] ,  
            ISNULL(bfss2.fcs_CodMaterial_siges, '') AS [Homologación JUSTICIA] ,  
            bi.ing_codigo AS [Cód. Ingrediente] ,  
            bi.ing_nombre AS [Desc. Ingrediente] ,  
            ISNULL(au.unm_nomcor, '') AS [Uni.] ,  
            ISNULL(ti.canpro, 0) AS [Cantidad] ,  
            ISNULL(ti.PrecioUnit, 0) AS [Precio] ,  
            ISNULL(mid_numrac, 0) AS [Raciones] ,  
            ( ISNULL(ti.canpro, 0) * ISNULL(mid_numrac, 0) ) AS [Unidad Ing.] ,  
            ( ISNULL(ti.canpro, 0) * ISNULL(mid_numrac, 0) ) / ISNULL(bp.pro_facing, 1) AS [Unidad Producto.]  
    FROM    #tmp_ing AS ti WITH ( NOLOCK )  
            INNER JOIN dbo.b_receta AS br WITH ( NOLOCK ) ON ti.CodRec = br.rec_codigo  
            INNER JOIN dbo.a_servicio AS as2 WITH ( NOLOCK ) ON ti.min_codser = as2.ser_codigo  
 INNER JOIN dbo.a_regimen AS ar WITH ( NOLOCK ) ON ar.reg_codigo = ti.min_codreg  
            INNER JOIN dbo.b_ingrediente AS bi WITH ( NOLOCK ) ON bi.ing_codigo = ti.ing_codigo  
            LEFT JOIN dbo.b_formatocompras_sap_sgp AS bfss WITH ( NOLOCK ) ON bfss.fss_CodMaterial = ti.codmaterial  
            LEFT JOIN dbo.b_productos AS bp WITH ( NOLOCK ) ON bp.pro_codigo = bfss.fss_CodSgp  
            INNER JOIN dbo.a_unidadmed AS au WITH ( NOLOCK ) ON au.unm_codigo = bi.ing_unimed  
            LEFT JOIN dbo.b_formatocompras_sap_siges AS bfss2 WITH ( NOLOCK ) ON bfss2.fcs_CodMaterial = ti.codmaterial  
    WHERE   ISNULL(ti.canpro, 0) > 0  
    GROUP BY ti.min_fecmin ,  
            ar.reg_codigo ,  
            ar.reg_nombre ,  
            as2.ser_nombre + ' (' + CONVERT(VARCHAR(5), as2.ser_codigo) + ' )' ,  
            br.rec_nombre + ' (' + CONVERT(VARCHAR(5), br.rec_codigo) + ' )' ,  
            ti.CodMaterial ,  
            bi.ing_codigo ,  
            bi.ing_nombre ,  
            au.unm_nomcor ,  
            ti.canpro ,  
            ti.PrecioUnit ,  
            mid_numrac ,  
            bp.pro_facing ,  
            ti.mid_numlin ,  
            as2.ser_orden ,  
            as2.ser_codigo ,  
            bfss2.fcs_CodMaterial_siges  
    ORDER BY ti.min_fecmin ,  
            ar.reg_codigo ,  
            as2.ser_codigo ,  
            as2.ser_orden ,  
            ti.mid_numlin             
                                          
    DROP TABLE #tmp_ing                                              



GO
