/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ExportExcelInfClientes_V04]    Script Date: 24/12/2025 13:49:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sgpadm_Sel_ExportExcelInfClientes_V04]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[sgpadm_Sel_ExportExcelInfClientes_V04]
GO
/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ExportExcelInfClientes_V04]    Script Date: 24/12/2025 13:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* sgpadm_Sel_ExportExcelInfClientes_V04 */

CREATE procedure [dbo].[sgpadm_Sel_ExportExcelInfClientes_V04]    
as    
  
 SELECT a.cli_codigo as [Codigo Ceco],
        a.cli_nombre as [Nombre Ceco],
		a.cli_direccion as [Dirección],
		a.cli_comuna as [Comuna],
		a.cli_ciudad as [Ciudad],  
        a.cli_fono1 as [Fono 1],
		a.cli_fono2 as [Fono 2],
		a.cli_fax as [Fax],
		a.cli_percon as [Persona Conctato],    
        a.cli_giro as [Giro],
		a.cli_email as [Email],
		a.cli_tipo as [Tipo Cliente],
		a.cli_openvio as [Tipo Envio],
		a.cli_subseg as [Sub Segmento],     
        isnull(ass.sub_nombre,'') as [Nom. Sub Segmento],
		a.Cli_codzon as [Cod. Zona],
		isnull(az.zon_nombre,'') as [Nom. Zona],  
        a.cli_nomcontable as [Nombre Contable],
		a.cli_emailcontable as [Email Contable],    
        a.cli_gruvul as [Grupo Vulnerable],
		a.cli_modpac as [Activa Modulo Paciente],
		a.cli_codtis as [Codigo Tipo Servicio],
		isnull(ats.tis_nombre,'') as [Nombre Tipo Servicio],  
        a.cli_codseg as [Codigo Segmento],
		isnull(ase.seg_nombre,'')  as [Nombre Segmento],    
        a.cli_socsap as [Codigo Sociadad Sap],
		a.cli_activo as [Activo],
		a.cli_sobrec as [Sobreescribe Receta],
		a.cli_minsre as [Minuta Sitio Remoto],
		a.cli_portalelectronico as [Portal Electronico],
		CONVERT(int,0) AS [int_CFC],  
        a.cli_tipoceco as [Tipo Ceco], 
        CONVERT(int,0) AS [int_inventario],
		CONVERT(int,0) AS [int_guiaVenta],     
        CONVERT(int,0) AS [int_CierreDiario],  
        case when isnull(a.cli_TipoMinuta,0) = 0 Then
		          'No Definido'
			else isnull(b.tip_descripcion,'')
			end
			as [cli_TipoMinuta] ,
		a.cli_tipoformatocompras as [Tipo Formato Compras],
		isnull(a.cli_AMD,'2') as [cli_AMD],
		isnull(a.IdIntegraAMD,2) as [IdIntegraAMD]
INTO    #paso      
FROM    b_clientes a With(NoLock)
left join b_tipominuta as b with (nolock) on b.tip_codigo = a.cli_tipominuta 
left join a_integraAMD as ai with (nolock) on ai.idintegraAMD = a.idintegraAMD
left join a_subsegmento as ass With(NoLock)  on a.cli_subseg = ass.sub_codigo
left join a_zona as az With(NoLock) on a.Cli_codzon = az.zon_codigo      
left join a_tiposervicio as ats With(NoLock)  on a.cli_codtis = ats.tis_codigo      
left join a_segmento as ase With(NoLock) on a.cli_codseg = ase.seg_codigo      
WHERE  (a.cli_tipo = 0 OR a.cli_tipo = 2)       

CREATE INDEX ix_#paso_01 ON #paso ([Codigo Ceco]) 

UPDATE #paso      
SET    #paso.int_CFC = '1'  
FROM   b_CasinoInterfaz c With(NoLock)
inner join #paso b With(NoLock)  on c.cai_cencos = b.[Codigo Ceco]    
inner join a_tipointerfaz a With(NoLock) on a.tii_codigo = c.cai_codtii
WHERE c.cai_codtii = 1  
  
UPDATE #paso      
SET    #paso.int_inventario = '1'  
FROM   b_CasinoInterfaz c With(NoLock)
inner join #paso b With(NoLock)  on c.cai_cencos = b.[Codigo Ceco]    
inner join a_tipointerfaz a With(NoLock) on a.tii_codigo = c.cai_codtii
WHERE c.cai_codtii = 2  
   
UPDATE #paso      
SET    #paso.int_guiaVenta = '1'  
FROM   b_CasinoInterfaz c With(NoLock)
inner join #paso b With(NoLock)  on c.cai_cencos = b.[Codigo Ceco]    
inner join a_tipointerfaz a With(NoLock) on a.tii_codigo = c.cai_codtii
WHERE c.cai_codtii = 3  
    
UPDATE #paso      
SET    #paso.int_CierreDiario = '1'  
FROM   b_CasinoInterfaz c With(NoLock)
inner join #paso b With(NoLock)  on c.cai_cencos = b.[Codigo Ceco]    
inner join a_tipointerfaz a With(NoLock) on a.tii_codigo = c.cai_codtii
WHERE c.cai_codtii = 4  
  
  
SELECT a.reg_codigo,
       a.reg_nombre,
	   a.reg_activo,
	   b.ser_codigo,
	   b.ser_nombre,
	   b.ser_orden,
	   c.crs_cencos      
INTO   #paso1      
FROM   b_casinoregser c  With(NoLock)
inner join #paso as d   With(NoLock) on d.[Codigo Ceco] = c.crs_cencos
inner join a_servicio b  With(NoLock) on b.ser_codigo = c.crs_codser  
inner join a_regimen a   With(NoLock) on  a.reg_codigo = c.crs_codreg     
group by a.reg_codigo,
         a.reg_nombre,
		 a.reg_activo,
		 b.ser_codigo,
		 b.ser_nombre,
		 b.ser_orden,
		 c.crs_cencos      
ORDER BY a.reg_codigo,
         c.crs_cencos,
		 b.ser_orden    

CREATE INDEX ix_#paso1_01 ON #paso1 (crs_cencos) 
   
SELECT a.* ,
       b.reg_codigo as [Codigo regimen],
	   b.reg_nombre as [Nombre Regimen],
	   b.reg_activo as [Regimen Activa],
	   b.ser_codigo as [Codigo Servicio],
	   b.ser_nombre as [Nombre Servicio] 
FROM   #paso as a  With(NoLock)  
left join #paso1 as b With(NoLock) on b.crs_cencos = a.[Codigo Ceco]  
ORDER BY a.[Codigo Ceco]    
  
  
  
  

GO
