/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ExisteDatosTablaGramaje]    Script Date: 24/12/2025 13:49:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sgpadm_Sel_ExisteDatosTablaGramaje]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[sgpadm_Sel_ExisteDatosTablaGramaje]
GO
/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_ExisteDatosTablaGramaje]    Script Date: 24/12/2025 13:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*            
==========================================================================            
Sistema : Sgp Administrador            
Modulo :  General - Casino (M_EstructuraServicioPanLed)           
            
SP o Function : sgpadm_Sel_ExisteDatosTablaGramaje
Descripcion  : Permite identificar si existe información en tabla de gramaje
Observaciones :             
            
F. creacion:      09/10/2025
Creador:          Jorge Paz            
            
==========================================================================            
Modificaciones:            
Fecha             Programador             Motivo y/o Modificacion            
            
==========================================================================            
Test:            

sgpadm_Sel_ExisteDatosTablaGramaje '22700'
==========================================================================            
*/            
            
create PROC [dbo].[sgpadm_Sel_ExisteDatosTablaGramaje]
    (
      @IDCeco AS VARCHAR(10)            
    )
AS 

SELECT 
    CASE 
        WHEN EXISTS (
            SELECT 1 FROM b_tablagramajececo WHERE tgc_ceco = @IDCeco
        ) OR EXISTS (
            SELECT 1 FROM b_tablagramajececo_nivel WHERE IDCeco = @IDCeco
        )
        THEN '1'
        ELSE '0'
    END AS Resultado;


GO
