/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_DetalleCliente_V03]    Script Date: 24/12/2025 13:49:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sgpadm_Sel_DetalleCliente_V03]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[sgpadm_Sel_DetalleCliente_V03]
GO
/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_DetalleCliente_V03]    Script Date: 24/12/2025 13:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*    
==========================================================================                            
Sistema : Sgp Administrador

Modulo :  General - Casino (M_Casino.frm)
                           
SP o Function : sgpadm_Sel_DetalleCliente_V03
Descripcion   : mostrar detalle cliente    

Observaciones :           
                            
F. creacion:      09/12/2021
Creador:          Jorge Paz Núñez                                     
==========================================================================                            

Modificaciones:                            

Fecha             Programador             Motivo y/o Modificacion
16/06/2022        Jorge Paz Núñez         incluir nuevo campo minuta AMD  
26/03/2025        Jorge Paz Núñez         incluir nuevo campo integra AMD  
13/10/2025        Jorge Paz Núñez         incluir nuevo campo integra SPRS
==========================================================================                            

test :  sgpadm_Sel_DetalleCliente_V03 '23230'
          
*/                        

CREATE PROC [dbo].[sgpadm_Sel_DetalleCliente_V03]

    (
      @codigo VARCHAR(10)
    )

AS 

    SET NOCOUNT ON         
    SET XACT_ABORT ON  

    SELECT  a.cli_codigo ,
            isnull(a.cli_nombre,'') as Cli_nombre ,
            isnull(a.cli_direccion, '') as cli_direccion ,
            isnull(a.cli_comuna, '') as cli_comuna ,
            isnull(a.cli_ciudad, '') as cli_ciudad ,
            isnull(a.cli_fono1, '') as  cli_fono1,
            isnull(a.cli_fono2, '') as cli_fono2,
            isnull(a.cli_fax, '') as cli_fax ,
            isnull(a.cli_percon, '') as cli_percon ,
            isnull(a.cli_giro, '') as cli_giro ,
            isnull(a.cli_email, '') as cli_email ,
            isnull(a.cli_tipo, 0) as cli_tipo,
            isnull(a.cli_openvio, 0) as cli_openvio,
            isnull(a.cli_subseg, 0) as cli_subseg,
            isnull(a.cli_nomcontable, '') as cli_nomcontable,
            isnull(a.cli_emailcontable, '') as cli_emailcontable,
            isnull(a.cli_gruvul, '') as cli_gruvul,
            isnull(a.cli_codzon, 0) as cli_codzon ,
            isnull(a.cli_modpac, '') as cli_modpac,
            isnull(a.cli_codtis, 0) as cli_codtis,
            isnull(a.cli_codseg, 0) as cli_codseg,  
            CASE WHEN csa.Sociedad_Sap IS NULL THEN a.cli_socsap
                    ELSE csa.Sociedad_Sap
            END AS cli_socsap ,
            isnull(a.cli_activo, '') as cli_activo,
            isnull(a.cli_sobrec, '') as cli_sobrec,
            isnull(a.cli_fecmod, '') as cli_fecmod,
            isnull(a.cli_ccisac, 0) as cli_ccisac,
            isnull(a.cli_cecsac, '') as cli_cecsac,
            isnull(a.cli_codmun, 0) as cli_codmun,
            isnull(a.cli_opgped, '') as cli_opgped,
            isnull(a.cli_hipali, '') as cli_hipali,
            isnull(a.cli_codreg, 0) as cli_codreg,
            isnull(a.cli_tipope, '') as cli_tipope ,
            isnull(a.cli_minsre, '') as cli_minsre,
            isnull(a.cli_clisap, '') as cli_clisap,
            isnull(a.cli_cievta, '') as cli_cievta,
            isnull(a.cli_codcli, '') as cli_codcli,
            isnull(a.cli_ciedia, 0) as cli_ciedia,
            isnull(a.cli_portalelectronico, '') as cli_portalelectronico,
            isnull(a.cli_blockmincontrato, '') as cli_blockmincontrato,
            isnull(a.cli_blockminreal, '') as cli_blockminreal,
            isnull(a.cli_blockminteo, '') as cli_blockminteo,
            isnull(a.cli_blockmintrabajafinsemana, '') as cli_blockmintrabajafinsemana,
            isnull(a.cli_emailenviopedido, '') as cli_emailenviopedido,
            isnull(a.cli_TipoMinuta, 0) as cli_TipoMinuta,
            isnull(a.cli_tipoformatocompras, 0) as cli_tipoformatocompras,
            isnull(a.cli_tipoceco, '') as cli_tipoceco,
            isnull(asg.sub_nombre, '') as sub_nombre,
         isnull(az.zon_nombre, '') as zon_nombre,
            isnull(ats.tis_nombre, '') as tis_nombre,
            isnull(ase.seg_nombre, '') as seg_nombre,
            isnull(csa.Cecos_Sap, '') as Cecos_Sap,
            isnull(csa.Cecos_AX, '') as Cecos_AX,
            isnull(csa.Sociedad_Sap, '') as Sociedad_Sap, 
			isnull(am.mun_nombre, '') as mun_nombre, 
			isnull(ar.reg_nombre, '') as reg_nombre,
			isnull(ioc.ID_OrgCompra, '') as ID_OrgCompra,
			isnull(a.cli_AMD,'2') as cli_AMD,
			isnull(a.IdIntegraAMD,2) as IdIntegraAMD,
			isnull(a.cli_IntegraSPRS,2) as cli_IntegraSPRS
    FROM b_clientes AS a with (nolock)
    LEFT JOIN dbo.Cecos_Sap_AX AS csa WITH ( NOLOCK ) ON csa.Cecos_Sap = a.cli_codigo  
	left join dbo.I_org_ceco as ioc with (nolock) on ioc.id_Ceco = a.cli_codigo
			                                        and ioc.id_pais = 'CL'
													and ltrim(isnull(ioc.borrado,'')) = ''
    left join a_subsegmento as asg WITH ( NOLOCK ) on asg.sub_codigo = a.cli_subseg                    
	left join a_zona as az WITH ( NOLOCK ) on az.zon_codigo =  a.cli_codzon
                                            AND az.zon_activo = '1'
	left join a_tiposervicio as ats WITH ( NOLOCK ) on ats.tis_codigo = a.cli_codtis   
	left join a_segmento as ase WITH ( NOLOCK ) on ase.seg_codigo = a.cli_codseg            
	left join a_municipio AS am WITH ( NOLOCK ) on am.mun_codigo = a.cli_codmun
    left join a_region AS ar WITH ( NOLOCK ) on ar.reg_codigo = a.cli_codreg
			                                and ar.reg_activo = '1' 
	left join a_integraAMD as ai with (nolock) on ai.idintegraAMD = a.idintegraAMD
	WHERE ( a.cli_codigo = @codigo OR @codigo = '' )
    AND   ( a.cli_tipo = 0 OR a.cli_tipo = 2 )
    ORDER BY a.cli_nombre                            

	
GO
