/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_XMLResumenCostoReceta_AMD_V01]    Script Date: 24/12/2025 13:49:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sgpadm_Sel_XMLResumenCostoReceta_AMD_V01]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[sgpadm_Sel_XMLResumenCostoReceta_AMD_V01]
GO
/****** Object:  StoredProcedure [dbo].[sgpadm_Sel_XMLResumenCostoReceta_AMD_V01]    Script Date: 24/12/2025 13:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*                                                      
==========================================================================                                                      
  
Sistema : Sgp Administrador                                                      
  
Modulo :  Informe - Exportar Minuta Bloque Excel (I_ExpMinBlo.frm)                                                                                                         
  
SP o Function : sgpadm_Sel_XMLResumenCostoReceta_AMD_V01  
  
Descripcion   :  Mostrar resumen de receta asociado tipo plato, costo y gramaje         
                 de acuerdo a un ceco, regimen y servicio                                                                                                  
  
Observaciones :                                                       
  
F. creacion:      10/04/2019  
  
Creador:          Jorge András Paz Núñez  
  
==========================================================================                                                      
  
Modificaciones:                                                      
  
Fecha             Programador             Motivo y/o Modificacion                                                      
18/01/2022        Jorge Paz Núñez         Cambiar nombre sub procedimiento 
                                          PA_sgpadm_CostoRecetaProductoExcel_V01 x
										  PA_sgpadm_CostoRecetaProductoExcel_V02
										  esto incluye dos nuevo cambio a la
										  tabla excepción formato compras que son
										  fecha inicio y fin.   
										  Cambio nom de procedimiento sgpadm_Sel_XMLResumenCostoReceta_Excel_V01
										  x sgpadm_Sel_XMLResumenCostoReceta_Excel_V02                             
14/02/2024        Jorge Paz Núñez         Incluir filtro del campo activo de las tablas
                                          b_receta_oferta y b_cliente_oferta  
22/05/2024        Jorge Paz Núñez		  Incluir concepto Regimen en la tabla final
18/11/2024		  Jorge Paz Núñez	      incluir incluye todos atributo de receta y clientes
										  cuando haya cambio de modificación de datos.
										  para la actualización de recetas diarias.
31/03/2024		  Jorge Paz Núñez         Incluir Cecos Propuesta y calculo ceco propuesta.
==========================================================================                                            
  
Test:                                                         

exec sgpadm_Sel_XMLResumenCostoReceta_AMD_V01 '69710', 10495, 10001, 20241110, 1, '1', '202411', '202411', '1'
  
==========================================================================                                            
  
*/                                                      
  
CREATE PROC [dbo].[sgpadm_Sel_XMLResumenCostoReceta_AMD_V01]  
    (  
      @Ceco VARCHAR(20) ,  
      @CodRegimen INT ,  
      @CodServicio INT ,  
      @Fecha INT ,  
      @OpPrecio INT ,  
      @OpMuestraPre VARCHAR(1) ,  
      --@XmlDietetica AS TEXT ,  
      --@XmlPlato AS TEXT,  
      @AnoMesInicio as varchar(4),  
      @AnoMesFinal as varchar(4),
	  @OpReceta as varchar(1)   
    )  
  
AS   
  
    --DECLARE @hdoc AS INTEGER                          
  
    --EXEC sp_xml_preparedocument @hdoc OUTPUT, @XmlDietetica  
  
    --SELECT  Die  
    --INTO    #TmpDietetica  
    --FROM    OPENXML (@hdoc, '/Dietetica/DetDietetica ', 1)                            
    --WITH                            
    --(                            
    --Die INT   
    --)                            
  
    --EXEC sp_xml_preparedocument @hdoc OUTPUT, @XmlPlato  
  
    --SELECT  Pla  
    --INTO    #TmpPlato  
    --FROM    OPENXML (@hdoc, '/Plato/DetPlato ', 1)                            
    --WITH                            
  
    --(                            
    --Pla INT   
    --)   
  
    --CREATE INDEX ix_TmpDietetica_01 ON #TmpDietetica (Die)     
    --CREATE INDEX ix_TmpPlato_01 ON #TmpPlato (Pla)                                                                  

 --    declare @Sql as varchar(max)
 --    set @Sql = ''

  	/* Validar si existe tabla temporal se borra */
	IF (SELECT id FROM tempdb.dbo.sysobjects WHERE ID = OBJECT_ID(N'tempdb..#PasoReceta')) IS NOT NULL

        begin

     		DROP TABLE #PasoReceta

		end

	create table #PasoReceta (rec_codigo int)

	CREATE INDEX ix_PasoReceta_01 ON #PasoReceta (rec_codigo)

	if @OpReceta = '1'
	 
		begin
		
		    INSERT into #PasoReceta
			select distinct a.rec_codigo 
			from b_receta as a with (nolock) 
			where a.rec_activo = '1'
			and   a.rec_indppr = 1
			AND ( a.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR isnull(a.rec_fecvig,0) = 0 )
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.rec_codigo  
			             and   brz.activo = '1' )  
						
		end

	if @OpReceta = '2'

	   begin

			/* Insertar datos de la tabla clientes oferta modificada */
			INSERT into #PasoReceta
			select e.rec_codigo
			from b_clientes as a with (nolock)
			inner join b_Cliente_Oferta as b with (nolock) on b.cli_codigo = a.cli_codigo
			                                              and b.Activo = '1'
			inner join b_Ofertas as c with (nolock) on c.Codigo_oferta = b.codigo_oferta
			                                       and c.Activo = '1'
			inner join b_receta_Oferta as d with (nolock) on d.codigo_oferta = c.Codigo_oferta
														 and d.Activo = '1'
			inner join b_receta as e with (nolock) on e.rec_codigo = d.rec_codigo
			                                      and e.rec_activo = 1
												  and e.rec_indppr = 1
												  AND ( e.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR e.rec_fecvig <= 0 )
			where convert(varchar(8),b.FechaMod,112) >= convert(varchar(8),getdate(),112)
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = e.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                     and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = e.rec_codigo  
			             and   brz.activo = '1' )  
			and   a.cli_codigo = @Ceco
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = e.rec_codigo)
			group by e.rec_codigo

			/* Insertar datos de la tabla clientes tipo negocio modificada */
			INSERT into #PasoReceta
			select e.rec_codigo
			from b_clientes as a with (nolock)
			inner join b_ClientesTipoNegocio as b with (nolock) on b.IdCliente = a.cli_codigo
															   and b.Activo = '1'
			inner join a_tiponegocioreceta as c with (nolock) on c.IdTipoNegocio = b.IdTipoNegocio
															  and c.Activo = '1'
			inner join b_recetatiponegocio as d with (nolock) on d.IdtipoNegocio = c.IdTipoNegocio
														 and d.Activo = '1'
			inner join b_receta as e with (nolock) on e.rec_codigo = d.IdReceta
			                                      and e.rec_activo = 1
												  and e.rec_indppr = 1
												  AND ( e.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR e.rec_fecvig <= 0 )
			where convert(varchar(8),b.Fecha_Modificacion,112) >= convert(varchar(8),getdate(),112)
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = e.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = e.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = e.rec_codigo  
			             and   brz.activo = '1' )  
			and   a.cli_codigo = @Ceco
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = e.rec_codigo)
			group by e.rec_codigo

			/* Insertar datos de la tabla org. compras modificada */
			INSERT into #PasoReceta
			select e.rec_codigo
			from b_clientes as a with (nolock)
			inner join I_org_ceco as b with (nolock) on b.ID_CECO = a.cli_codigo
													and b.BORRADO not in ('X')
--													and b.CARGADO_PEL = 'C'
			inner join b_recetazona as d with (nolock) on d.IdOrganizacionCompras = b.ID_ORGCOMPRA
													  and d.Activo = '1'
			inner join b_receta as e with (nolock) on e.rec_codigo = d.IdReceta
			                                      and e.rec_activo = 1
												  and e.rec_indppr = 1
												  AND ( e.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR e.rec_fecvig <= 0 )
			where convert(varchar(8),b.FECHA_U,112) >= convert(varchar(8),getdate(),112)
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = e.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = e.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = e.rec_codigo  
			             and   brz.activo = '1' )  
			and   a.cli_codigo = @Ceco
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = e.rec_codigo)
			group by e.rec_codigo

			/* Insertar datos de la tabla oferta receta modificada */
			INSERT into #PasoReceta
			select e.rec_codigo
			from b_clientes as a with (nolock)
			inner join b_Cliente_Oferta as b with (nolock) on b.cli_codigo = a.cli_codigo
			                                              and b.Activo = '1'
			inner join b_Ofertas as c with (nolock) on c.Codigo_oferta = b.codigo_oferta
			                                       and c.Activo = '1'
			inner join b_receta_Oferta as d with (nolock) on d.codigo_oferta = c.Codigo_oferta
														 and d.Activo = '1'
			inner join b_receta as e with (nolock) on e.rec_codigo = d.rec_codigo
			                                      and e.rec_activo = 1
												  and e.rec_indppr = 1
												  AND ( e.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR e.rec_fecvig <= 0 )
			where convert(varchar(8),d.FechaMod,112) >= convert(varchar(8),getdate(),112)
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = e.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = e.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = e.rec_codigo  
			             and   brz.activo = '1' )  

			and   a.cli_codigo = @Ceco
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = e.rec_codigo)
			group by e.rec_codigo

			/* Insertar datos de la tabla tipo negocio receta modificada */
			INSERT into #PasoReceta
			select e.rec_codigo
			from b_clientes as a with (nolock)
			inner join b_ClientesTipoNegocio as b with (nolock) on b.IdCliente = a.cli_codigo
															   and b.Activo = '1'
			inner join a_tiponegocioreceta as c with (nolock) on c.IdTipoNegocio = b.IdTipoNegocio
															  and c.Activo = '1'
			inner join b_recetatiponegocio as d with (nolock) on d.IdtipoNegocio = c.IdTipoNegocio
														 and d.Activo = '1'
			inner join b_receta as e with (nolock) on e.rec_codigo = d.IdReceta
			                                      and e.rec_activo = 1
												  and e.rec_indppr = 1
												  AND ( e.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR e.rec_fecvig <= 0 )
			where convert(varchar(8),d.Fecha_Modificacion,112) >= convert(varchar(8),getdate(),112)
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = e.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = e.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = e.rec_codigo  
			             and   brz.activo = '1' )  
			and   a.cli_codigo = @Ceco
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = e.rec_codigo)
			group by e.rec_codigo

			/* Insertar datos de la tabla org. compras receta modificada */
			INSERT into #PasoReceta
			select e.rec_codigo
			from b_clientes as a with (nolock)
			inner join I_org_ceco as b with (nolock) on b.ID_CECO = a.cli_codigo
													and b.BORRADO not in ('X')
													--and b.CARGADO_PEL = 'C'
			inner join b_recetazona as d with (nolock) on d.IdOrganizacionCompras = b.ID_ORGCOMPRA
													  and d.Activo = '1'
			inner join b_receta as e with (nolock) on e.rec_codigo = d.IdReceta
			                                      and e.rec_activo = 1
												  and e.rec_indppr = 1
												  AND ( e.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR e.rec_fecvig <= 0 )
			where convert(varchar(8),d.Fecha_Modificacion,112) >= convert(varchar(8),getdate(),112)
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = e.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = e.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = e.rec_codigo  
			             and   brz.activo = '1' )  
			and   a.cli_codigo = @Ceco
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = e.rec_codigo)
			group by e.rec_codigo

			/* Insertar estacionalidad recetas modificada */
			INSERT into #PasoReceta
			select a.rec_codigo
			from b_receta as a with (nolock)
			inner join b_recetaestacionalidad as b with (nolock) on b.idreceta = a.rec_codigo
			                                                    and b.activo = '1'
			inner join a_estacionalidadreceta as c with (nolock) on c.IdEstacionalidad = b.IdEstacionalidad
															    and c.activo = '1'
			where convert(varchar(8),b.fecha_modificacion,112) >= convert(varchar(8),getdate(),112)
			and   a.rec_activo = 1
			and   a.rec_indppr = 1
			AND ( a.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR a.rec_fecvig <= 0 )
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.rec_codigo  
			             and   brz.activo = '1' )  
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = a.rec_codigo)
			group by a.rec_codigo

			/* Insertar alergeno recetas modificada */
			INSERT into #PasoReceta
			select a.rec_codigo
			from b_receta as a with (nolock)
			inner join b_recetaalergeno as b with (nolock) on b.idreceta = a.rec_codigo
			                                              and b.activo = '1'
			inner join a_alergeno as c with (nolock) on c.IdAlergeno = b.Idalergeno
													and c.activo = '1'
			where convert(varchar(8),b.fecha_modificacion,112) >= convert(varchar(8),getdate(),112)
			and   a.rec_activo = 1
			and   a.rec_indppr = 1
			AND ( a.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR a.rec_fecvig <= 0 )
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.rec_codigo  
			             and   brz.activo = '1' )  
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = a.rec_codigo)
			group by a.rec_codigo

			/* Insertar estilo alimentacion recetas modificada */
			INSERT into #PasoReceta
			select a.rec_codigo
			from b_receta as a with (nolock)
			inner join b_recetaestiloalimentacion as b with (nolock) on b.idreceta = a.rec_codigo
																	and b.activo = '1'
			inner join a_estiloalimentacion as c with (nolock) on c.IdEstiloAlimentacion = b.IdEstiloAlimentacion
															  and c.activo = '1'
			where convert(varchar(8),b.fecha_modificacion,112) >= convert(varchar(8),getdate(),112)
			and   a.rec_activo = 1
			and   a.rec_indppr = 1
			AND ( a.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR a.rec_fecvig <= 0 )
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.rec_codigo  
			             and   brz.activo = '1' )  
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = a.rec_codigo)
			group by a.rec_codigo

			/* Insertar intolerancia recetas modificada */
			INSERT into #PasoReceta
			select a.rec_codigo
			from b_receta as a with (nolock)
			inner join b_recetaintolerancia as b with (nolock) on b.idreceta = a.rec_codigo
															  and b.activo = '1'
			inner join a_intoleranciareceta as c with (nolock) on c.IdIntolerancia = b.IdIntolerancia
															  and c.activo = '1'
			where convert(varchar(8),b.fecha_modificacion,112) >= convert(varchar(8),getdate(),112)
			and   a.rec_activo = 1
			and   a.rec_indppr = 1
			AND ( a.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR a.rec_fecvig <= 0 )
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.rec_codigo  
			             and   brz.activo = '1' )  
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = a.rec_codigo)
			group by a.rec_codigo

			/* Insertar par 1 recetas modificada */
			INSERT into #PasoReceta
			select a.rec_codigo
			from b_receta as a with (nolock)
			inner join b_recetaparametroadicional1 as b with (nolock) on b.idreceta = a.rec_codigo
																	 and b.activo = '1'
			inner join a_Parametroadicional1 as c with (nolock) on c.IdParametroadicional1 = b.Idparametroadicional1
															   and c.activo = '1'
			where convert(varchar(8),b.fecha_modificacion,112) >= convert(varchar(8),getdate(),112)
			and   a.rec_activo = 1
			and   a.rec_indppr = 1
			AND ( a.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR a.rec_fecvig <= 0 )
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.rec_codigo  
			             and   brz.activo = '1' )  
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = a.rec_codigo)
			group by a.rec_codigo

			/* Insertar par 2 recetas modificada */
			INSERT into #PasoReceta
			select a.rec_codigo
			from b_receta as a with (nolock)
			inner join b_recetaparametroadicional2 as b with (nolock) on b.idreceta = a.rec_codigo
																	 and b.activo = '1'
			inner join a_Parametroadicional2 as c with (nolock) on c.IdParametroadicional2 = b.Idparametroadicional2
															   and c.activo = '1'
			where convert(varchar(8),b.fecha_modificacion,112) >= convert(varchar(8),getdate(),112)
			and   a.rec_activo = 1
			and   a.rec_indppr = 1
			AND ( a.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR a.rec_fecvig <= 0 )
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.rec_codigo  
			             and   brz.activo = '1' )  
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = a.rec_codigo)
			group by a.rec_codigo

			/* Insertar encabezado recetas modificada */
			INSERT into #PasoReceta
			select a.rec_codigo
			from b_receta as a with (nolock)
			where convert(varchar(8),a.rec_fecmod,112) >= convert(varchar(8),getdate(),112)
			and   a.rec_activo = 1
			and   a.rec_indppr = 1
			AND ( a.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR a.rec_fecvig <= 0 )
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.rec_codigo  
			             and   brz.activo = '1' )  
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = a.rec_codigo)
			group by a.rec_codigo

			/* Insertar detalle recetas modificada */
			INSERT into #PasoReceta
			select a.rec_codigo
			from b_receta as a with (nolock)
			inner join b_recetadet as b with (nolock) on b.red_codigo = a.rec_codigo
			where convert(varchar(8),b.red_fecmod,112) >= convert(varchar(8),getdate(),112)
			and   a.rec_activo = 1
			and   a.rec_indppr = 1
			AND ( a.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR a.rec_fecvig <= 0 )
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.rec_codigo  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.rec_codigo  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.rec_codigo  
			             and   brz.activo = '1' )  
			and not exists (select 1 from #PasoReceta as rr where rr.rec_codigo = a.rec_codigo)
			group by a.rec_codigo

			/* Insertar datos en tabla de gramaje */
			INSERT into #PasoReceta
			select a.tgc_codrec
			from b_tablagramajececo as a with (nolock)
			where convert(varchar(8),a.tgc_fecmod,112) >= convert(varchar(8),getdate(),112)
			and   a.tgc_ceco = @Ceco
			and   a.tgc_codreg = convert(varchar(10),@CodRegimen)
			and  not exists (select 1 from #PasoReceta as b with (nolock) where b.rec_codigo = a.tgc_codrec)
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = a.tgc_codrec  
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = a.tgc_codrec  
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = a.tgc_codrec  
			             and   brz.activo = '1' )  
			group by a.tgc_codrec

  			/* Validar si existe tabla temporal se borra */
			IF (SELECT id FROM tempdb.dbo.sysobjects WHERE ID = OBJECT_ID(N'tempdb..#TmpIngrediente')) IS NOT NULL

				begin

     				DROP TABLE #TmpIngrediente

			end

			/* Consulta convenios modificado */
			select distinct bpi.Ingrediente
			into #TmpIngrediente
			from dbo.i_convenio_sap as ics with (nolock)
			inner join dbo.b_precio_ingrediente AS bpi WITH ( NOLOCK ) on bpi.Id_OrgCompra = ics.ID_ORGCOMPRA    
																	  AND bpi.Codigo_Material = ics.ID_MATERIAL    
											   						  AND bpi.Proveedor = ics.ID_PROVEEDOR    
																	  AND bpi.Valido_Desde = ics.FECHA_INICIO_VALIDEZ
			INNER JOIN dbo.b_clientes AS bc WITH ( NOLOCK ) ON bc.cli_codigo = bpi.Ceco    
			inner join dbo.i_org_ceco as b with (nolock) on b.ID_ORGCOMPRA = ics.ID_ORGCOMPRA
			                                            and b.borrado not in ('X')
								    					--and b.CARGADO_PEL = 'C'
														and b.id_ceco = bc.cli_codigo
			INNER JOIN dbo.b_formatocompras_sap AS bfs WITH ( NOLOCK ) ON ics.ID_MATERIAL = bfs.fcs_CodMaterial    
			LEFT JOIN dbo.b_Pedido_ExcepcionFormatoCompra AS bpefc WITH ( NOLOCK ) ON bpefc.proveedor = bpi.Proveedor     
																				  AND bpefc.cencos = bc.cli_codigo    
																				  AND bpefc.ing_codigo = bpi.Ingrediente    
																			      AND bpefc.fcs_CodMaterial = bpi.Codigo_Material 
			where (convert(varchar(8),ics.fecha_modificacion,112) >= convert(varchar(8),getdate(),112)
			       or convert(varchar(8),ics.fecha_creacion,112) >= convert(varchar(8),getdate(),112))
			AND CONVERT(DATETIME, CONVERT(VARCHAR(8), @Fecha)) BETWEEN ics.FECHA_INICIO_VALIDEZ AND ics.FECHA_FIN_VALIDEZ
			AND ics.BORRADO not in ('X')
			and bc.cli_codigo = @Ceco
			 
			INSERT into #PasoReceta
			SELECT DISTINCT br.rec_codigo
            FROM    dbo.b_receta AS br WITH ( NOLOCK )    
            INNER JOIN dbo.b_recetadet AS br2 WITH ( NOLOCK ) ON br.rec_codigo = br2.red_codigo    
            INNER JOIN dbo.b_clientes AS bc2 WITH ( NOLOCK ) ON bc2.cli_codigo = @Ceco    
   			inner join #TmpIngrediente as pr with (nolock) on pr.Ingrediente = br2.red_codpro
		    LEFT JOIN ( SELECT  bt.tgc_ceco ,    
                                    bt.tgc_codreg ,    
                                    bt.tgc_codrec ,    
                                    bt.tgc_coding ,    
                                    bt.tgc_codins ,    
									bt.tgc_cantgr    
                            FROM    dbo.b_tablagramajececo AS bt WITH ( NOLOCK )    
                          ) tagra ON tagra.tgc_ceco = bc2.cli_codigo    
                                     AND tagra.tgc_codreg = @CodRegimen    
                                     AND tagra.tgc_codrec = br.rec_codigo    
                                     AND tagra.tgc_coding = br2.red_codpro    
            INNER JOIN dbo.b_ingrediente AS bi WITH ( NOLOCK ) ON CASE WHEN ISNULL(tagra.tgc_codins, '') = ''    
                                          THEN br2.red_codpro    
                                                                       ELSE tagra.tgc_codins    
                                                                       END = bi.ing_codigo    
            INNER JOIN dbo.b_productosing AS bp WITH ( NOLOCK ) ON bi.ing_codigo = bp.pri_coding    
            INNER JOIN dbo.b_productos AS bp2 WITH ( NOLOCK ) ON bp.pri_codpro = bp2.pro_codigo    
			WHERE   bp2.pro_indppr = 1    
			AND     bi.ing_indppr = 1 
			AND   ( bp2.pro_fecven >= CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112))    
				    OR      bp2.pro_fecven = 0 OR bp2.pro_fecven IS NULL )    
			AND     br.rec_indppr = 1
			AND   ( br.rec_fecvig >= CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112))    
				    OR br.rec_fecvig = 0 OR br.rec_fecvig IS NULL )    
			AND    bp2.pro_facing > 0      
    		and  not exists (select 1 from #PasoReceta as b with (nolock) where br.rec_codigo = b.rec_codigo)
			AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
			             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
						 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
						                                         and bo.codigo_oferta = bco.codigo_oferta
																 and bo.activo = '1'
			             WHERE bro.rec_codigo = br.rec_codigo
			             AND   bco.cli_codigo = @Ceco
						 and   bro.activo = '1'
						 and   bco.activo = '1' )  
			and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
			              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
			                                                                  and brtn.IdReceta = br.rec_codigo
			                                                                  and atng.Activo = '1'  
			                                                                  and brtn.Activo = '1'  
			              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
			                                                                    and bctn.IdCliente = @Ceco  
			                                                                    and bctn.Activo = '1')  
			and exists (select 1 from b_recetazona as brz with (nolock)            
			             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
			             where brz.IdReceta = br.rec_codigo  
			             and   brz.activo = '1' )  
			 
		end
		   
    BEGIN                                                      
  
        SELECT  CONVERT(INT, 0) AS rec_codigo ,  
                CONVERT(VARCHAR(80), '') AS rec_nombre ,  
                CONVERT(INT, 0) AS rec_catdie ,  
                CONVERT(INT, 0) AS rec_tippla ,  
                CONVERT(INT, 0) AS rec_fecvig ,  
                CONVERT(VARCHAR(20), '') AS ing_codigo ,  
                CONVERT(FLOAT, 0) AS promedioreceta ,  
				CONVERT(int, 0) AS rec_indppr ,  
                CONVERT(INT, 0) AS cod_uniReceta  
        INTO    #Paso_Final          
                                          
        CREATE INDEX ix_rec_codigo_01 ON #Paso_Final (rec_codigo)                                                                  
  
        DELETE  #Paso_Final                                                
  
        IF @OpMuestraPre = '1'   
  
            BEGIN                                                
  
                CREATE TABLE #sgpadm_Fun_CostoRecetaProducto  
                    (  
                      ing_codigo VARCHAR(20) COLLATE DATABASE_DEFAULT ,  
                      pro_codigo VARCHAR(20) COLLATE DATABASE_DEFAULT ,  
					  pro_nombre VARCHAR(100) COLLATE DATABASE_DEFAULT ,  
                      pro_facing FLOAT ,  
                      fi INT ,  
                      ft INT ,  
                      PMP FLOAT ,  
                      PMPIng FLOAT ,  
                      Convenio FLOAT ,  
                      ConvenioIng FLOAT ,  
                      Lista FLOAT ,  
                      ListaIng FLOAT  
                    )                                        
  
				IF (SELECT id FROM tempdb.dbo.sysobjects WHERE ID = OBJECT_ID(N'tempdb..#tabla')) IS NOT NULL
					BEGIN
				
					DROP TABLE #tabla
				
				END

				SELECT DISTINCT    
					   bi.ing_codigo ,    
					  bp2.pro_codigo ,    
					  bp2.pro_nombre ,    
					  bp2.pro_facing ,    
                      @Fecha AS fi ,    
                      @Fecha AS ft ,    
                      CONVERT(FLOAT, 0) AS PMP ,    
                      CONVERT(FLOAT, 0) AS PMPIng ,    
                      CONVERT(FLOAT, 0) AS Convenio ,    
                      CONVERT(FLOAT, 0) AS ConvenioIng ,    
                      CONVERT(FLOAT, 0) AS Lista ,    
                      CONVERT(FLOAT, 0) AS ListaIng ,    
                      CONVERT(FLOAT, 0) AS IdConvenio    
                INTO    #tabla    
                FROM    dbo.b_receta AS br WITH ( NOLOCK )    
                INNER JOIN dbo.b_recetadet AS br2 WITH ( NOLOCK ) ON br.rec_codigo = br2.red_codigo    
                INNER JOIN dbo.b_clientes AS bc2 WITH ( NOLOCK ) ON bc2.cli_codigo = @Ceco    
   				inner join #PasoReceta as pr with (nolock) on pr.rec_codigo = br.rec_codigo
		        LEFT JOIN ( SELECT  bt.tgc_ceco ,    
                                    bt.tgc_codreg ,    
                                    bt.tgc_codrec ,    
                                    bt.tgc_coding ,    
                                    bt.tgc_codins ,    
                                    bt.tgc_cantgr    
                            FROM    dbo.b_tablagramajececo AS bt WITH ( NOLOCK )    
                          ) tagra ON tagra.tgc_ceco = bc2.cli_codigo    
                                     AND tagra.tgc_codreg = @CodRegimen    
                                     AND tagra.tgc_codrec = br.rec_codigo    
                                     AND tagra.tgc_coding = br2.red_codpro    
                INNER JOIN dbo.b_ingrediente AS bi WITH ( NOLOCK ) ON CASE WHEN ISNULL(tagra.tgc_codins, '') = ''    
                                                                           THEN br2.red_codpro    
                                                                           ELSE tagra.tgc_codins    
                                                                      END = bi.ing_codigo    
                INNER JOIN dbo.b_productosing AS bp WITH ( NOLOCK ) ON bi.ing_codigo = bp.pri_coding    
                INNER JOIN dbo.b_productos AS bp2 WITH ( NOLOCK ) ON bp.pri_codpro = bp2.pro_codigo    
				WHERE   bp2.pro_indppr = 1 
				AND bi.ing_indppr = 1
				AND ( bp2.pro_fecven >= CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112))    
				OR bp2.pro_fecven = 0 OR bp2.pro_fecven IS NULL )    
				AND br.rec_indppr = 1  
				AND ( br.rec_fecvig >= CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112))    
				OR br.rec_fecvig = 0 OR br.rec_fecvig IS NULL )    
				AND bp2.pro_facing > 0      
				AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
				             INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta
							 inner join b_Ofertas as bo with (nolock) on bo.codigo_oferta = bro.codigo_oferta
							                                         and bo.codigo_oferta = bco.codigo_oferta
																	 and bo.activo = '1'
				             WHERE bro.rec_codigo = br.rec_codigo  
				             AND   bco.cli_codigo = @Ceco
							 and   bro.activo = '1'
							 and   bco.activo = '1' )  
				 and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
				              inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
				                                                                  and brtn.IdReceta = br.rec_codigo  
				                                                                  and atng.Activo = '1'  
				                                                                  and brtn.Activo = '1'  
				              inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
				                                                                    and bctn.IdCliente = @Ceco  
				                                                                    and bctn.Activo = '1')  
				-- and exists (select 1 from a_sellosreceta as asr with (nolock)   
				--             inner join b_receta as br with (nolock) on br.IdSellos = asr.IdSellos  
				--                                                    and br.rec_codigo = br.rec_codigo  
				--             inner join b_ClientesSello as bcs with (nolock) on bcs.Idsello = asr.IdSellos   
				--                                                            and bcs.IdCliente = @Ceco
								--									and bcs.Activo = '1'  
				--             where asr.Activo = '1')  
				 and exists (select 1 from b_recetazona as brz with (nolock)            
				             inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
				                       and ioc.Id_ceco = @Ceco  
				                       and ioc.borrado not in ('X')   
				             where brz.IdReceta = br.rec_codigo  
				             and   brz.activo = '1' )  
				-- and exists (select 1 from a_estacionalidadreceta as aer with (nolock)   
				--             inner join b_recetaestacionalidad as bre with (nolock) on bre.IdEstacionalidad = aer.IdEstacionalidad  
				--                                                                   and bre.IdReceta = br.rec_codigo  
				--                                                                   and bre.activo = '1'  
				--                                                                   and aer.activo = '1'  
				--                                                                   and convert(int,@AnoMesinicio) >= convert(int,aer.fecha_inicial)  
				--                                                                   and convert(int,@AnoMesFinal) <= convert(int,aer.fecha_final))  
  
				CREATE INDEX ix_#tabla_01 ON #tabla (pro_codigo,fi)              
				CREATE INDEX ix_#tabla_02 ON #tabla (pro_codigo)              
				CREATE INDEX ix_#tabla_03 ON #tabla (pro_codigo, IdConvenio)              
				print 'jpaz'  
				/*INI: CALCULO DE PRECIO EN BASE A CONVENIO*/     

				declare @tipoCeco as varchar(1)

				/* Rescatar tipo ceco */
				set @tipoCeco = (select isnull(a.cli_tipoceco,'0') from b_clientes as a with (nolock) where a.cli_codigo = @Ceco and a.cli_tipo = 0 and a.cli_activo = '1')
				
				/*INI: CALCULO DE PRECIO EN BASE A CONVENIO - tipo ceco = 0 corresponde sitio real */

				IF @OpPrecio = 1 and @tipoCeco = 0
				     
					BEGIN              
						SELECT  IDrow = IDENTITY( INT, 1,1 ),    
								bpi.[Id_OrgCompra] ,    
								bpi.[Celo] ,    
								[Ceco] ,    
								bpi.[Ingrediente] ,    
								bpi.[Valido_Desde] ,    
								bpi.[Valido_Hasta] ,    
								bpi.[Ctd_Fmto] ,    
								bpi.[Importe] ,    
								bpi.[Perfil_Redondeo] ,    
								bpi.[Precio] ,    
								bpi.[Proveedor] ,    
								bpi.[Codigo_Material] ,    
								bpi.[Cod_Sgp] ,    
								  CASE WHEN ISNULL(bpefc.ID, 0) > 0 and bpefc.fecha_inicio is null THEN 0  
									when ISNULL(bpefc.ID, 0) > 0 and bpefc.fecha_inicio is not null
																 and convert(varchar(8),bpefc.Fecha_inicio,112) >= @Fecha
																 and convert(varchar(8),bpefc.Fecha_Termino,112) <= @Fecha then 0
									when bpefc.fecha_inicio is not null and convert(varchar(8),bpefc.Fecha_inicio,112) < @Fecha
																		and convert(varchar(8),bpefc.Fecha_Termino,112) < @Fecha then 6
									when bpefc.fecha_inicio is not null and convert(varchar(8),bpefc.Fecha_inicio,112) > @Fecha
																		and convert(varchar(8),bpefc.Fecha_Termino,112) > @Fecha then 6
									WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras    
										  AND ics.CONDICIONES = '1' THEN 1    
									WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras    
										  AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 2    
									WHEN bfs.fcs_tipoformatocompras = 3    
										  AND ics.CONDICIONES = '1' THEN 3    
									WHEN bfs.fcs_tipoformatocompras = 3    
										  AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 4    										ELSE 5    
										END AS orden    
						INTO    #Tmp_PrecioIng    
						FROM    dbo.b_precio_ingrediente AS bpi WITH ( NOLOCK )    
								INNER JOIN dbo.I_CONVENIO_SAP AS ics WITH ( NOLOCK ) ON bpi.Id_OrgCompra = ics.ID_ORGCOMPRA    
																					AND bpi.Codigo_Material = ics.ID_MATERIAL    
																					AND bpi.Proveedor = ics.ID_PROVEEDOR    
																					AND bpi.Valido_Desde = ics.FECHA_INICIO_VALIDEZ    
																					AND bpi.Valido_Hasta = ics.FECHA_FIN_VALIDEZ    
								INNER JOIN dbo.b_formatocompras_sap AS bfs WITH ( NOLOCK ) ON ics.ID_MATERIAL = bfs.fcs_CodMaterial    
								INNER JOIN dbo.b_clientes AS bc WITH ( NOLOCK ) ON bc.cli_codigo = bpi.Ceco    
								LEFT JOIN dbo.b_Pedido_ExcepcionFormatoCompra AS bpefc WITH ( NOLOCK ) ON bpi.Proveedor = bpefc.proveedor    
																									  AND bpefc.cencos = bc.cli_codigo    
																									  AND bpefc.ing_codigo = bpi.Ingrediente    
																									 AND bpefc.fcs_CodMaterial = bpi.Codigo_Material    
						WHERE   bpi.ceco = @Ceco    
						AND EXISTS ( SELECT 1    
									 FROM   #tabla AS f    
									 WHERE  f.ing_codigo = bpi.Ingrediente    
									AND ( CONVERT(DATETIME, CONVERT(VARCHAR(8), f.fi)) BETWEEN bpi.Valido_Desde    
						            AND     bpi.Valido_Hasta )    
									OR bpi.Valido_Hasta < CONVERT(DATETIME, CONVERT(VARCHAR(8), f.fi)) )    
									AND ics.BORRADO not in ('X')    
						ORDER BY bpi.Ingrediente ,    
								orden ,    
								bpi.[Precio]              
              
						CREATE INDEX ix_Tmp_PrecioIng_01 ON #Tmp_PrecioIng (Ingrediente, Valido_Desde, Valido_Hasta)             
						CREATE INDEX ix_Tmp_PrecioIng_02 ON #Tmp_PrecioIng (IDrow, Cod_Sgp)                  
              
              
						UPDATE  #tabla    
						SET     IdConvenio = ISNULL(( SELECT TOP 1 IDrow    
													  FROM      #Tmp_PrecioIng AS bpi    
													  WHERE     bpi.Ingrediente = t.ing_codigo    
													  AND t.fi BETWEEN CONVERT(VARCHAR(8), bpi.Valido_Desde, 112)    
													  AND CONVERT(VARCHAR(8), bpi.Valido_Hasta, 112)    
													  ORDER BY  bpi.orden ,    
													        	bpi.Precio    
															), 0)    
						FROM    #tabla AS t    
						WHERE   ISNULL(t.Convenio, 0) = 0                
              
						UPDATE  #tabla    
						SET     Convenio = ISNULL(bpi.Precio, 0) ,    
								pro_codigo = bp.pro_codigo ,    
								pro_nombre = bp.pro_nombre ,    
								pro_facing = bp.pro_facing    
						FROM    #tabla AS t    
						INNER JOIN #Tmp_PrecioIng AS bpi ON bpi.IDrow = t.IdConvenio    
						INNER JOIN dbo.b_productos AS bp WITH ( NOLOCK ) ON bp.pro_codigo = bpi.Cod_Sgp    
						WHERE   ISNULL(t.Convenio, 0) = 0                
            
						UPDATE  #tabla    
						SET     Convenio = ISNULL(tpi.Precio, 0) ,    
								pro_codigo = bp.pro_codigo ,    
								pro_nombre = bp.pro_nombre ,    
								pro_facing = bp.pro_facing    
						FROM    #tabla AS t    
						INNER JOIN #Tmp_PrecioIng AS tpi ON tpi.Ingrediente = t.ing_codigo    
														AND tpi.IDrow = ( SELECT TOP 1 bpi2.IDrow--bpi2.Ingrediente        
																		  FROM      #Tmp_PrecioIng AS bpi2    
																		  WHERE     bpi2.Ingrediente = tpi.Ingrediente    
																	      AND CONVERT(VARCHAR(8), bpi2.Valido_Hasta, 112) < t.fi    
																		  ORDER BY  bpi2.Valido_Hasta DESC ,    
																		  bpi2.orden ASC ,    
																		  bpi2.Precio ASC )    
						INNER JOIN dbo.b_productos AS bp ON bp.pro_codigo = tpi.Cod_Sgp    
						WHERE   ISNULL(t.Convenio, 0) = 0                 
        
					END                          
		
				/*FIN: CALCULO DE PRECIO EN BASE A CONVENIO - tipo ceco = 0 corresponde sitio real */
                
				/*INI: CALCULO DE PRECIO EN BASE A CONVENIO - tipo ceco = 0 corresponde sitio propuesta */
				IF @OpPrecio = 1 and @tipoCeco = 1

					BEGIN              

				        SELECT  IDrow = IDENTITY( INT, 1,1 )               
				               ,bpi.[Id_OrgCompra]    
							   ,bpi.[Celo]    
							   ,[Ceco]    
							   ,bpi.[Ingrediente]    
							   ,bpi.[Valido_Desde]    
							   ,bpi.[Valido_Hasta]    
							   ,bpi.[Ctd_Fmto]    
							   ,bpi.[Importe]    
							   ,bpi.[Perfil_Redondeo]    
							   ,bpi.[Precio]    
							   ,bpi.[Proveedor]    
							   ,bpi.[Codigo_Material]    
							   ,bpi.[Cod_Sgp]    
							   ,CASE WHEN ISNULL(bpefc.ID, 0) > 0 THEN 0    
									 WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras    
										  AND ics.CONDICIONES = '1' THEN 1    
									 WHEN bc.cli_tipoformatocompras = bfs.fcs_tipoformatocompras    
										  AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 2    
									 WHEN bfs.fcs_tipoformatocompras = 3    
										  AND ics.CONDICIONES = '1' THEN 3    
									 WHEN bfs.fcs_tipoformatocompras = 3    
										  AND ISNULL(ics.CONDICIONES, '0') = '0' THEN 4    
									 ELSE 5    
								END AS orden    
						INTO    #Tmp_PrecioIng_Propuesta
						FROM    dbo.b_precio_ingrediente AS bpi WITH ( NOLOCK )
						INNER JOIN dbo.I_CONVENIO_SAP AS ics WITH ( NOLOCK ) ON bpi.Id_OrgCompra = ics.ID_ORGCOMPRA    
																				AND bpi.Codigo_Material = ics.ID_MATERIAL    
																				AND bpi.Proveedor = ics.ID_PROVEEDOR    
																				AND bpi.Valido_Desde = ics.FECHA_INICIO_VALIDEZ    
																				AND bpi.Valido_Hasta = ics.FECHA_FIN_VALIDEZ    
						INNER JOIN dbo.b_formatocompras_sap AS bfs WITH ( NOLOCK ) ON ics.ID_MATERIAL = bfs.fcs_CodMaterial    
						INNER JOIN dbo.b_clientes AS bc WITH ( NOLOCK ) ON bc.cli_codigo = bpi.Ceco    
						LEFT JOIN dbo.b_Pedido_ExcepcionFormatoCompra AS bpefc WITH ( NOLOCK ) ON bpi.Proveedor = bpefc.proveedor    
																								  AND bpefc.cencos = bc.cli_codigo    
																								  AND bpefc.ing_codigo = bpi.Ingrediente    
																								  AND bpefc.fcs_CodMaterial = bpi.Codigo_Material    
						WHERE   bpi.ceco = @Ceco    
								AND EXISTS ( SELECT 1    
											 FROM  #tabla AS f    
											 WHERE  f.ing_codigo = bpi.Ingrediente    
													AND ( CONVERT(DATETIME, CONVERT(VARCHAR(8), f.fi)) BETWEEN bpi.Valido_Desde    
																									   AND     bpi.Valido_Hasta    
														  OR bpi.Valido_Hasta < CONVERT(DATETIME, CONVERT(VARCHAR(8), f.fi))    
														) )    
								AND ISNULL(ics.BORRADO, '') <> 'X'    
						ORDER BY bpi.Ingrediente ,
									 orden ,
								 bpi.[Precio] asc
        
  
						CREATE INDEX ix_Tmp_PrecioIng_Propuesta_01 ON #Tmp_PrecioIng_Propuesta (Ingrediente, Valido_Desde, Valido_Hasta)                  
						CREATE INDEX ix_Tmp_PrecioIng_Propuesta_02 ON #Tmp_PrecioIng_Propuesta (IDrow, Cod_Sgp)                  
              
						UPDATE  #tabla      
						SET     IdConvenio = ISNULL(( SELECT TOP 1      
															  IDrow      
													  FROM    #Tmp_PrecioIng_Propuesta AS bpi      
													  WHERE   bpi.Ingrediente = t.ing_codigo      
															  AND t.fi BETWEEN CONVERT(VARCHAR(8), bpi.Valido_Desde, 112)      
																	   AND     CONVERT(VARCHAR(8), bpi.Valido_Hasta, 112)      
													  ORDER BY bpi.orden ,
															   bpi.Precio
													), 0)      
						FROM    #tabla AS t      
						WHERE   ISNULL(t.Convenio, 0) = 0                
              
						UPDATE  #tabla      
						SET     Convenio = ISNULL(bpi.Precio, 0)      
							   ,pro_codigo = bp.pro_codigo      
							   ,pro_nombre = bp.pro_nombre      
							   ,pro_facing = bp.pro_facing      
						FROM    #tabla AS t      
						INNER JOIN #Tmp_PrecioIng_Propuesta AS bpi ON bpi.IDrow = t.IdConvenio      
						INNER JOIN dbo.b_productos AS bp ON bp.pro_codigo = bpi.Cod_Sgp      
						WHERE   ISNULL(t.Convenio, 0) = 0                
                
						UPDATE  #tabla      
						SET     Convenio = ISNULL(tpi.Precio, 0)      
							   ,pro_codigo = bp.pro_codigo      
							   ,pro_nombre = bp.pro_nombre      
							   ,pro_facing = bp.pro_facing      
						FROM    #tabla AS t      
						INNER JOIN #Tmp_PrecioIng_Propuesta AS tpi ON tpi.Ingrediente = t.ing_codigo      
															AND tpi.IDrow = ( SELECT TOP 1      
																							bpi2.IDrow
																					FROM    #Tmp_PrecioIng_Propuesta AS bpi2      
																					WHERE   bpi2.Ingrediente = tpi.Ingrediente      
																							AND CONVERT(VARCHAR(8), bpi2.Valido_Hasta, 112) < t.fi      
																					ORDER BY bpi2.Valido_Hasta DESC, bpi2.Precio desc)
						INNER JOIN dbo.b_productos AS bp ON bp.pro_codigo = tpi.Cod_Sgp      
						WHERE   ISNULL(t.Convenio, 0) = 0               
        
						/* Actualizar precio tabla comercial */
						UPDATE  #tabla    
						SET     Convenio = ISNULL(a.Precio, 0)    
						FROM    #tabla AS t    
						INNER JOIN dbo.b_precio_ingrediente_comercial as a with (nolock) on a.idingrediente = t.ing_codigo
																						and a.Activo = '1'
						inner join dbo.I_ORG_CECO as d with (nolock) ON d.id_orgcompra = a.idorgcompras
																	and d.id_ceco = @Ceco
																	and d.borrado<>'X'

						DROP TABLE #Tmp_PrecioIng_Propuesta
            
					  END                          
                          
					/*FIN: CALCULO DE PRECIO EN BASE A CONVENIO - tipo ceco = 0 corresponde sitio propuesta */
				          
				
				
				/*FIN: CALCULO DE PRECIO EN BASE A CONVENIO*/                            
                          
				/*INI - ACTUALIZAR PMP DIA */                            
				IF @OpPrecio = 2     
			
					BEGIN               
			
						UPDATE  #tabla    
						SET     PMP = ISNULL(cbp.ppd_propon, 0) ,    
								PMPIng = ( ISNULL(cbp.ppd_propon, 0) / t.pro_facing )    
						FROM    #tabla AS t    
								INNER  JOIN dbo.cas_b_productospmpdia AS cbp WITH ( NOLOCK ) ON cbp.ppd_cecori = @Ceco    
																							AND cbp.ppd_cencos = @Ceco    
																							AND cbp.ppd_codpro = t.pro_codigo    
																							AND cbp.ppd_fecdia = t.fi               
     
						UPDATE  #tabla    
						SET     PMP = ISNULL(pmp_ant.ppd_propon, 0) ,    
								PMPIng = ( ISNULL(pmp_ant.ppd_propon, 0) / t.pro_facing ) 
						FROM    #tabla AS t    
								INNER JOIN ( SELECT cbp2.ppd_cecori ,    
													cbp2.ppd_codpro ,    
													cbp2.ppd_fecdia ,    
													cbp2.ppd_propon    
											  FROM   dbo.cas_b_productospmpdia AS cbp2 WITH ( NOLOCK )    
											  INNER JOIN ( SELECT cbp1.ppd_cecori ,    
												                  cbp1.ppd_codpro ,    
																  MAX(cbp1.ppd_fecdia) AS ppd_fecdia    
															FROM   dbo.cas_b_productospmpdia AS cbp1 WITH ( NOLOCK )    
															WHERE  cbp1.ppd_cecori = @ceco    
															GROUP BY cbp1.ppd_cecori ,    
																	cbp1.ppd_codpro                            
		--                                     ,ppd_propon                            
                                                             
																) maxi ON cbp2.ppd_cecori = maxi.ppd_cecori    
																			AND cbp2.ppd_codpro = maxi.ppd_codpro    
																			AND cbp2.ppd_fecdia = maxi.ppd_fecdia    
											) AS pmp_ant ON pmp_ant.ppd_cecori = @ceco    
															AND pmp_ant.ppd_codpro = t.pro_codigo    
															AND pmp_ant.ppd_fecdia < t.fi    
						WHERE   ISNULL(PMP, 0) = 0                            
					END              
				/*FIN - ACTUALIZAR PMP DIA */                            
                            
				/*INI - ACTUALIZAR LISTA PRECIOS */              
				IF @OpPrecio = 3     
			
					BEGIN                             
			
						UPDATE  #tabla    
						SET     Lista = ISNULL(listp.dlp_precio, 0) ,    
								ListaIng = ( ISNULL(listp.dlp_precio, 0) / t.pro_facing )    
						FROM    #tabla AS t    
								LEFT JOIN ( SELECT  ba2.api_coding ,    
													bd.dlp_anomes ,    
													bd.dlp_codpro ,    
													bd.dlp_precio    
											FROM    dbo.b_detlistaprecio AS bd WITH ( NOLOCK )    
											iNNER JOIN dbo.b_asolistaprecio AS ba WITH ( NOLOCK ) ON ba.alp_codreg = @CodRegimen    
																								AND bd.dlp_codigo = ba.alp_codlpr    
											INNER JOIN dbo.b_clientes AS bc WITH ( NOLOCK ) ON bc.cli_codigo = @Ceco    
																							AND bc.cli_subseg = ba.alp_codsse    
																							AND bc.cli_tipo = 0    
											LEFT  JOIN dbo.b_asociaproductosing AS ba2 WITH ( NOLOCK ) ON ba2.api_codreg = @CodRegimen    
																									   AND ba2.api_codsse = bc.cli_subseg    
																									   AND ba2.api_codser = @CodServicio    
																									   AND ba2.api_codpro = bd.dlp_codpro    
																									   AND bd.dlp_anomes = ba2.api_anomes    
													) AS listp ON listp.dlp_codpro = t.pro_codigo    
						AND listp.dlp_anomes = CONVERT(INT, CONVERT(VARCHAR(6), CONVERT(VARCHAR, t.fi)))                             
                          
				END              
				/*FIN - ACTUALIZAR LISTA PRECIOS */                            
                            

                INSERT  #sgpadm_Fun_CostoRecetaProducto  
                        ( ing_codigo ,  
                          pro_codigo ,  
                          pro_nombre ,  
                          pro_facing ,  
                          fi ,  
                          ft ,  
                          PMP ,  
                          PMPIng ,  
                          Convenio ,  
                          ConvenioIng ,  
						  Lista ,  
                          ListaIng                                
                        )  
  
		        SELECT DISTINCT ing_codigo ,    
								pro_codigo ,    
								pro_nombre ,    
								pro_facing ,    
								fi ,    
								ft ,    
								PMP ,    
								PMPIng ,    
								Convenio ,    
								ConvenioIng ,    
								Lista ,    
								ListaIng    
				FROM    #tabla      
                        --EXEC dbo.PA_sgpadm_CostoRecetaProductoExcel_V02 @Ceco, @Fecha, @CodRegimen, @CodServicio, @OpPrecio, @AnoMesInicio, @AnoMesFinal   
                              
  
                SELECT  ing_codigo ,  
                        pro_codigo ,  
                        pro_nombre ,  
                        pro_facing ,  
                        fi ,  
                        ft ,  
                        PMP ,  
                        PMPIng ,  
                        Convenio ,  
                        ConvenioIng ,  
                        Lista ,  
						ListaIng ,  
                        ( ISNULL(CASE WHEN @OpPrecio = 1 THEN Convenio  
                                      WHEN @OpPrecio = 2 THEN PMP  
                     ELSE Lista  
                        END, 0) / ISNULL(pro_facing, 0) ) AS pmp1  
                INTO    #sgpadm_Fun_CostoRecetaProducto2  
                FROM    #sgpadm_Fun_CostoRecetaProducto  
                WHERE   ( ISNULL(CASE WHEN @OpPrecio = 1 THEN Convenio  
                                      WHEN @OpPrecio = 2 THEN PMP  
                                      ELSE Lista  
                                 END, 0) ) > 0    
  
                CREATE INDEX ix_ing_codigo_01 ON #sgpadm_Fun_CostoRecetaProducto2 (ing_codigo)                            
  
                INSERT  INTO #Paso_Final  
                SELECT  br3.rec_codigo ,  
                        br3.rec_nombre ,  
                        br3.rec_catdie ,  
                        br3.rec_tippla ,  
                        br3.rec_fecvig ,  
                        bi.ing_codigo ,  
                        ROUND(ISNULL(AVG(fun.PMP1) * MAX(CASE WHEN tagra.tgc_cantgr IS NULL THEN br4.red_canpro  
                                                              ELSE tagra.tgc_cantgr  
                                                         END), 0), 2) AS promedioreceta ,  
                        br3.rec_indppr ,  
                        br3.cod_uniReceta  
                FROM    dbo.b_receta AS br3 WITH ( NOLOCK )  
                INNER JOIN dbo.b_recetadet AS br4 WITH ( NOLOCK ) ON br3.rec_codigo = br4.red_codigo  
				inner join #PasoReceta as pr with (nolock) on pr.rec_codigo = br3.rec_codigo
                LEFT JOIN ( SELECT  bt.tgc_ceco ,  
                                    bt.tgc_codreg ,  
                                    bt.tgc_codrec ,  
                                    bt.tgc_coding ,  
                                    bt.tgc_codins ,  
                                    bt.tgc_cantgr  
                FROM dbo.b_tablagramajececo AS bt WITH ( NOLOCK ) ) tagra ON tagra.tgc_ceco = @Ceco  
                                                       AND tagra.tgc_codreg = @CodRegimen  
                                                       AND tagra.tgc_codrec = br3.rec_codigo  
                                                       AND tagra.tgc_coding = br4.red_codpro  
                INNER JOIN dbo.b_ingrediente AS bi WITH ( NOLOCK ) ON CASE WHEN ISNULL(tagra.tgc_codins,'') = ''  
                                                                          THEN br4.red_codpro  
                                                                      ELSE tagra.tgc_codins  
                                                                      END = bi.ing_codigo  
                LEFT JOIN #sgpadm_Fun_CostoRecetaProducto2 AS fun ON fun.ing_codigo = bi.ing_codigo  
                                                                 AND fun.fi = @Fecha  
                --WHERE br3.rec_catdie IN ( SELECT  Die FROM #TmpDietetica WITH ( NOLOCK ) )  
                --AND   br3.rec_tippla IN ( SELECT  Pla FROM    #TmpPlato WITH ( NOLOCK ) )  
                AND   br3.rec_indppr = 1
				and   br3.rec_activo = '1'  
                AND ( br3.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR isnull(br3.rec_fecvig,0) <= 0 )  
                GROUP BY br3.rec_codigo ,  
						 br3.rec_nombre ,  
                         br3.rec_catdie ,  
                         br3.rec_tippla ,  
                         br3.rec_fecvig ,  
                         br3.rec_indppr ,  
                         bi.ing_codigo ,  
                         br3.cod_uniReceta  
                ORDER BY br3.rec_nombre                            
  
                DROP TABLE #sgpadm_Fun_CostoRecetaProducto                            
  
                DROP TABLE #sgpadm_Fun_CostoRecetaProducto2             
                               
            END                            
  
        ELSE   
  
            BEGIN                            
  
                INSERT  INTO #Paso_Final  
                SELECT  br3.rec_codigo ,  
                        br3.rec_nombre ,  
						br3.rec_catdie ,  
                        br3.rec_tippla ,  
                        br3.rec_fecvig ,  
                        bi.ing_codigo ,  
                        CONVERT(FLOAT, 0) AS promedioreceta ,  
                       br3.rec_indppr ,  
                        br3.cod_uniReceta  
               FROM    dbo.b_receta AS br3 WITH ( NOLOCK )  
               INNER JOIN dbo.b_recetadet AS br4 WITH ( NOLOCK ) ON br3.rec_codigo = br4.red_codigo  
			   inner join #PasoReceta as pr with (nolock) on pr.rec_codigo = br3.rec_codigo
               LEFT JOIN ( SELECT  bt.tgc_ceco ,  
                                   bt.tgc_codreg ,  
                                   bt.tgc_codrec ,  
                                   bt.tgc_coding ,  
                                   bt.tgc_codins ,  
                                   bt.tgc_cantgr  
                            FROM   dbo.b_tablagramajececo AS bt WITH ( NOLOCK ) ) tagra ON tagra.tgc_ceco = @Ceco  
                                                                                       AND tagra.tgc_codreg = @CodRegimen  
                AND tagra.tgc_codrec = br3.rec_codigo  
                                                                                       AND tagra.tgc_coding = br4.red_codpro  
               INNER JOIN dbo.b_ingrediente AS bi WITH ( NOLOCK ) ON CASE WHEN ISNULL(tagra.tgc_codins,'') = ''  
                                                               THEN br4.red_codpro  
                                                                 ELSE tagra.tgc_codins  
                                                                 END = bi.ing_codigo  
     --WHERE   br3.rec_catdie IN ( SELECT  Die FROM #TmpDietetica WITH ( NOLOCK ) )  
               --AND br3.rec_tippla IN ( SELECT  Pla FROM #TmpPlato WITH ( NOLOCK ) )  
               where br3.rec_indppr = 1
               AND ( br3.rec_fecvig > CONVERT(INT, CONVERT(VARCHAR(8), GETDATE(), 112)) OR br3.rec_fecvig <= 0 )  
               GROUP BY br3.rec_codigo ,  
                        br3.rec_nombre ,  
                        br3.rec_catdie ,  
                        br3.rec_tippla ,  
                        br3.rec_fecvig ,  
                        br3.rec_indppr ,  
                        bi.ing_codigo ,  
                        br3.cod_uniReceta  
               ORDER BY br3.rec_nombre                                                                       
  
            END                            
  
     -- Selecciona las Ofertas- Tipo Negocio- Sellos- Zona- Estacionalidad que tiene el Casino  
  
        SELECT  @Ceco as [Ceco], 
		        @CodRegimen as [Regimen],
		        pf.rec_codigo as [CodReceta],
				pf.rec_nombre + ' ' + CONVERT(VARCHAR(20), pf.rec_codigo) as [Receta],
                isnull(SUM(isnull(promedioreceta,0)),0) AS [Precio],
				'' as [CatDie],
				'' as [TipPla],
				getdate() as [Fecha]
        FROM    #Paso_Final AS pf  
        INNER JOIN dbo.b_UnidadReceta AS bur WITH ( NOLOCK ) ON bur.Codigo_unidad = pf.cod_uniReceta  
        AND EXISTS ( SELECT 1 FROM dbo.b_receta_Oferta AS bro WITH ( NOLOCK )  
                  INNER JOIN dbo.b_Cliente_Oferta AS bco WITH ( NOLOCK ) ON bro.codigo_oferta = bco.codigo_oferta  
                     WHERE  bro.rec_codigo = pf.rec_codigo  
                     AND    bco.cli_codigo = @Ceco 
					 and    bco.Activo = '1'
					 and    bro.Activo = '1')  
		and isnull(promedioreceta,0)>0
         --and exists ( select 1 from b_recetatiponegocio as brtn with (nolock)   
         --             inner join a_tiponegocioreceta as atng with (nolock) on atng.IdTipoNegocio = brtn.IdTipoNegocio  
         --                                                                 and brtn.IdReceta = pf.rec_codigo  
         --                               and atng.Activo = '1'  
         --                                                                 and brtn.Activo = '1'  
         --             inner join b_ClientesTipoNegocio as bctn with (nolock) on bctn.IdTipoNegocio = atng.IDTipoNegocio  
         --                                                                   and bctn.IdCliente = @Ceco  
         --                                                                   and bctn.Activo = '1')  
         --and exists (select 1 from a_sellosreceta as asr with (nolock)   
         --            inner join b_receta as br with (nolock) on br.IdSellos = asr.IdSellos  
         --                                                   and br.rec_codigo = pf.rec_codigo  
         --            inner join b_ClientesSello as bcs with (nolock) on bcs.IdSello = asr.IdSellos   
         --                                                           and bcs.IdCliente = @Ceco
									--								and bcs.activo = '1' 
         --            where asr.Activo = '1')  
         --and exists (select 1 from b_recetazona as brz with (nolock)                                                
         --            inner join I_org_ceco as ioc with (nolock) on ioc.Id_orgcompra = brz.IdOrganizacionCompras  
         --       and ioc.Id_ceco = @Ceco  
         --           and isnull(ioc.borrado,'') = ''   
         --            where brz.IdReceta = pf.rec_codigo  
         --            and   brz.activo = '1' )  
         --and exists (select 1 from a_estacionalidadreceta as aer with (nolock)   
         --            inner join b_recetaestacionalidad as bre with (nolock) on bre.IdEstacionalidad = aer.IdEstacionalidad  
         --                                                                  and bre.IdReceta = pf.rec_codigo  
         --                                                                  and bre.activo = '1'  
         --                                                                  and aer.activo = '1'  
         --                                                                  and convert(int,@AnoMesinicio) >= convert(int,aer.fecha_inicial)  
         --                                                                  and convert(int,@AnoMesFinal) <= convert(int,aer.fecha_final))  
        GROUP BY pf.rec_codigo ,  
                pf.rec_nombre-- ,  
                --pf.rec_catdie ,  
                --pf.rec_tippla  
        ORDER BY pf.rec_nombre                            
                                                
        DROP TABLE #Paso_Final                                                                
  
    END                            
  
    --EXEC sp_xml_removedocument @hDoc                                   
  
    --DROP TABLE #TmpDietetica                  
    --DROP TABLE #TmpPlato  




GO
