/****** Object:  StoredProcedure [dbo].[sgpadm_iu_clientes_Ver7]    Script Date: 24/12/2025 13:49:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sgpadm_iu_clientes_Ver7]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[sgpadm_iu_clientes_Ver7]
GO
/****** Object:  StoredProcedure [dbo].[sgpadm_iu_clientes_Ver7]    Script Date: 24/12/2025 13:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*        
==========================================================================                  
Sistema : Sgp Administrador                  
Modulo :   General - Casinos (M_Casino.frm)                 

SP o Function : sgpadm_iu_clientes_Ver4

Descripcion  : Permite grabar un registro                    

Observaciones :                                

F. creacion:      31/08/2015      

Creador:          Jorge Paz                                   

==========================================================================                  

Modificaciones:                  

Fecha             Programador             Motivo y/o Modificacion                  

28/02/2018        Jorge Paz Núñez         Agregar un nuevo campo tipo ceco
29/12/2020        Jorge Andrés Paz Núñez  Agregar un nuevo campo tipo sellos
26/07/2021        Jorge Andrés Paz Núñez  Eliminar el nuevo campo tipo sellos,
                                          ya que se va dejar como una tabla a parte
										  donde se va seleccionar mas de un sello
16/06/2022       Jorge Andrés Paz Núñez   incluir nuevo concepto tipo acceso minuta 
26/03/2025       Jorge Andrés Paz Núñez   incluir nuevo concepto integra AMD 
13/10/2025       Jorge Andrés Paz Núñez   incluir nuevo concepto integra SPRS 
==========================================================================                  

Test:                  
sgpadm_iu_clientes_Ver7

==========================================================================                  

*/

CREATE PROCEDURE [dbo].[sgpadm_iu_clientes_Ver7]  

    (  
      @tipop VARCHAR(1) ,  
      @cli_codigo VARCHAR(10) ,  
      @cli_nombre VARCHAR(50) ,  
      @cli_direccion VARCHAR(50) ,  
      @cli_comuna VARCHAR(15) ,  
      @cli_ciudad VARCHAR(15) ,  
      @cli_fono1 VARCHAR(15) ,  
      @cli_fono2 VARCHAR(15) ,  
      @cli_fax VARCHAR(15) ,  
      @cli_percon VARCHAR(50) ,  
      @cli_giro VARCHAR(50) ,  
      @cli_email VARCHAR(50) ,  
      @cli_tipo INT ,  
      @cli_openvio INT ,  
      @cli_subseg INT ,  
      @cli_nomcontable VARCHAR(50) ,  
      @cli_emailcontable VARCHAR(50) ,  
      @cli_gruvul VARCHAR(1) ,  
      @cli_codzon INT ,  
      @cli_modpac VARCHAR(1) ,  
      @cli_codtis INT ,  
      @cli_codseg INT ,  
      @cli_socsap VARCHAR(4) ,  
      @cli_activo VARCHAR(1) ,  
      @cli_sobrec VARCHAR(1) ,  
      @cli_codmun INT ,  
      @cli_ccisac INT ,  
      @cli_cecsac VARCHAR(4) ,  
      @cli_opgped VARCHAR(1) ,  
      @cli_hipali VARCHAR(1) ,  
      @cli_codreg INT ,  
      @cli_tipope VARCHAR(1) ,  
      @cli_minsre VARCHAR(1) ,  
      @cli_portalelectronico VARCHAR(1) ,  
      @cli_blockminreal VARCHAR(1) ,  
      @cli_blockminteo VARCHAR(1) ,  
      @cli_blockmincontrato VARCHAR(1) ,  
      @cli_blockmintrabajafinsemana VARCHAR(1) ,  
      @cli_emailenviopedido VARCHAR(100) ,  
      @cli_TipoMinuta INT ,  
      @cli_tipoformatocompras INT ,  
      @CodigoOptimun AS VARCHAR(10),
      @cli_tipoceco AS VARCHAR(1),
	  @cli_AMD as varchar(1),
	  @IdIntegraAMD as int,
	  @IdIntegraSPRS as tinyint
    )  

AS   

    SET NOCOUNT ON                           
    SET XACT_ABORT ON                                   

    DECLARE @Num_error INT                          
    DECLARE @cRows INT                          
    DECLARE @error VARCHAR(2000)                                                    

    SET @Num_error = 0                           
    SET @cRows = 0                           
    SET @error = ''                                                    

    BEGIN TRY                       

        BEGIN TRAN              

        IF @tipop = 'A'   

            INSERT  INTO b_clientes  

                    ( cli_codigo ,  
                      cli_nombre ,  
                      cli_direccion ,  
                      cli_comuna ,  
                      cli_ciudad ,  
                      cli_fono1 ,  
                      cli_fono2 ,  
					  cli_fax ,  
                      cli_percon ,  
                      cli_giro ,  
                      cli_email ,  
                      cli_tipo ,  
                      cli_openvio , 
                      cli_subseg ,  
                      cli_nomcontable ,  
                      cli_emailcontable ,  
                      cli_gruvul ,  
                      cli_codzon ,  
                      cli_modpac ,  
                      cli_codtis ,  
                      cli_codseg ,  
                      cli_socsap ,  
                      cli_activo ,  
                      cli_sobrec ,  
                      cli_codmun ,  
                      cli_ccisac ,  
                      cli_cecsac ,  
                      cli_opgped ,  
                      cli_hipali ,  
                      cli_codreg ,  
                      cli_tipope ,  
                      cli_minsre ,  
                      cli_portalelectronico ,  
                      cli_blockminreal ,  
                      cli_blockminteo ,  
                      cli_blockmincontrato ,  
                      cli_blockmintrabajafinsemana ,  
                      cli_emailenviopedido ,  
                      cli_TipoMinuta ,  
                      cli_tipoformatocompras,
                      cli_tipoceco,
					  cli_AMD,
					  IdIntegraAMD,
					  Cli_IntegraSPRS
                    )  
            VALUES  ( @cli_codigo ,  
                      @cli_nombre ,  
                      @cli_direccion ,  
                      @cli_comuna ,  
                      @cli_ciudad ,  
                      @cli_fono1 ,  
                      @cli_fono2 ,  
                      @cli_fax ,  
                      @cli_percon ,  
                      @cli_giro ,  
                      @cli_email ,  
                      @cli_tipo ,  
                      @cli_openvio ,  
                      @cli_subseg ,  
                      @cli_nomcontable ,  
                      @cli_emailcontable ,  
                      @cli_gruvul ,  
                      @cli_codzon ,  
                      @cli_modpac ,  
                      @cli_codtis ,  
                      @cli_codseg ,  
                      @cli_socsap ,  
                      @cli_activo ,  
                      @cli_sobrec ,  
                      @cli_codmun ,  
                      @cli_ccisac ,  
                      @cli_cecsac ,  
                      @cli_opgped ,  
                      @cli_hipali ,  
                      @cli_codreg ,  
                      @cli_tipope ,  
                      @cli_minsre ,  
                      @cli_portalelectronico ,  
                      @cli_blockminreal ,  
                      @cli_blockminteo ,  
                      @cli_blockmincontrato ,  
                      @cli_blockmintrabajafinsemana ,  
                      @cli_emailenviopedido ,  
                      @cli_TipoMinuta ,  
                      @cli_tipoformatocompras, 
                      @cli_tipoceco,
					  @cli_AMD,
					  @IdIntegraAMD,
					  @IdIntegraSPRS
                    )

        IF @tipop = 'M'

            UPDATE  b_clientes  
            SET     cli_nombre = @cli_nombre ,  
                    cli_direccion = @cli_direccion ,  
                    cli_comuna = @cli_comuna ,  
                    cli_ciudad = @cli_ciudad ,  
                    cli_fono1 = @cli_fono1 ,  
                    cli_fono2 = @cli_fono2 ,  
                    cli_fax = @cli_fax ,  
                    cli_percon = @cli_percon ,  
                    cli_giro = @cli_giro ,  
                    cli_email = @cli_email ,  
                    cli_tipo = @cli_tipo ,  
                    cli_openvio = @cli_openvio ,  
                    cli_subseg = @cli_subseg ,  
                    cli_nomcontable = @cli_nomcontable ,  
                    cli_emailcontable = @cli_emailcontable ,  
					cli_gruvul = @cli_gruvul ,  
                    cli_codzon = @cli_codzon ,  
                    cli_modpac = @cli_modpac ,  
                    cli_codtis = @cli_codtis ,  
                    cli_codseg = @cli_codseg ,  
                    cli_socsap = @cli_socsap ,  
                    cli_activo = @cli_activo ,  
                    cli_sobrec = @cli_sobrec ,  
					cli_codmun = @cli_codmun ,  
                    cli_ccisac = @cli_ccisac , 
                    cli_cecsac = @cli_cecsac ,  
                    cli_opgped = @cli_opgped ,  
                    cli_hipali = @cli_hipali ,  
                    cli_codreg = @cli_codreg ,  
                    cli_tipope = @cli_tipope ,  
                    cli_fecmod = GETDATE() ,  
                    cli_minsre = @cli_minsre ,  
                    cli_portalelectronico = @cli_portalelectronico ,  
                    cli_blockminreal = @cli_blockminreal ,  
                    cli_blockminteo = @cli_blockminteo ,  
                    cli_blockmincontrato = @cli_blockmincontrato ,  
                    cli_blockmintrabajafinsemana = @cli_blockmintrabajafinsemana ,  
                    cli_emailenviopedido = @cli_emailenviopedido ,  
                    cli_TipoMinuta = @cli_TipoMinuta ,  
                    cli_tipoformatocompras = @cli_tipoformatocompras ,
                    cli_tipoceco = @cli_tipoceco,
					cli_AMD = @cli_AMD,
					IdIntegraAMD = @IdIntegraAMD,
					Cli_IntegraSPRS = @IdIntegraSPRS
            WHERE   cli_codigo = @cli_codigo       

        IF NOT EXISTS ( SELECT  1  
                        FROM    dbo.Cecos_Sap_AX AS csa WITH ( NOLOCK )  
                        WHERE   csa.Cecos_Sap = @cli_codigo --                                AND csa.Cecos_AX = @CodigoOptimun   
                                )   

            BEGIN       

                INSERT  INTO dbo.Cecos_Sap_AX  
                        ( Cecos_Sap ,  
                          Cecos_AX ,  
                          Sociedad_Sap       
                        )  

                VALUES  ( @cli_codigo , -- Cecos_Sap - varchar(10)      
                          @codigooptimun , -- Cecos_AX - varchar(10)      
                          @cli_socsap  -- Sociedad_Sap - varchar(10)      
                        )      

            END       

        ELSE   

            BEGIN      

                UPDATE  dbo.Cecos_Sap_AX  
                SET     Sociedad_Sap = @cli_socsap ,  
                        Cecos_AX = @CodigoOptimun  
                WHERE   Cecos_Sap = @cli_codigo  
--                        AND Cecos_AX = @CodigoOptimun   
            END                 

        SET @cRows = @@ROWCOUNT

        COMMIT TRAN                                  

    END TRY                          

    BEGIN CATCH                          

        SET @Num_error = ERROR_NUMBER()                           
        SET @error = ERROR_MESSAGE()                           
        ROLLBACK TRAN                          

        GOTO handle_error                          

    END CATCH                                                  

    handle_error:                          

    SELECT  @Num_error ,  
            @error ,  
            @cRows 


GO
